// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as phenoml from "../../../../../index.js";

export declare namespace SummaryTemplatesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * CRUD operations for summary templates
 */
export class SummaryTemplatesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<SummaryTemplatesClient.Options>;

    constructor(options: SummaryTemplatesClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Retrieves all summary templates for the authenticated user
     *
     * @param {SummaryTemplatesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link phenoml.summary.UnauthorizedError}
     * @throws {@link phenoml.summary.InternalServerError}
     *
     * @example
     *     await client.summary.summaryTemplates.listTemplates()
     */
    public listTemplates(
        requestOptions?: SummaryTemplatesClient.RequestOptions,
    ): core.HttpResponsePromise<phenoml.summary.ListTemplatesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listTemplates(requestOptions));
    }

    private async __listTemplates(
        requestOptions?: SummaryTemplatesClient.RequestOptions,
    ): Promise<core.WithRawResponse<phenoml.summary.ListTemplatesResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.phenomlEnvironment.Default,
                "fhir2summary/templates",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as phenoml.summary.ListTemplatesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new phenoml.summary.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new phenoml.summary.InternalServerError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.phenomlError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/fhir2summary/templates");
    }

    /**
     * Creates a summary template from an example using LLM function calling
     *
     * @param {phenoml.summary.CreateSummaryTemplateRequest} request
     * @param {SummaryTemplatesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link phenoml.summary.BadRequestError}
     * @throws {@link phenoml.summary.UnauthorizedError}
     * @throws {@link phenoml.summary.InternalServerError}
     *
     * @example
     *     await client.summary.summaryTemplates.createTemplate({
     *         name: "Discharge Summary",
     *         example_summary: "Patient John Doe, age 45, was admitted on 2024-01-10 with Type 2 Diabetes. Discharged on 2024-01-15 with Metformin 500mg BID.",
     *         target_resources: ["Patient", "Condition", "MedicationRequest"],
     *         mode: "narrative"
     *     })
     */
    public createTemplate(
        request: phenoml.summary.CreateSummaryTemplateRequest,
        requestOptions?: SummaryTemplatesClient.RequestOptions,
    ): core.HttpResponsePromise<phenoml.summary.CreateSummaryTemplateResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createTemplate(request, requestOptions));
    }

    private async __createTemplate(
        request: phenoml.summary.CreateSummaryTemplateRequest,
        requestOptions?: SummaryTemplatesClient.RequestOptions,
    ): Promise<core.WithRawResponse<phenoml.summary.CreateSummaryTemplateResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.phenomlEnvironment.Default,
                "fhir2summary/template",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as phenoml.summary.CreateSummaryTemplateResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new phenoml.summary.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new phenoml.summary.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new phenoml.summary.InternalServerError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.phenomlError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/fhir2summary/template");
    }

    /**
     * Retrieves a specific summary template
     *
     * @param {string} id - Template ID
     * @param {SummaryTemplatesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link phenoml.summary.UnauthorizedError}
     * @throws {@link phenoml.summary.ForbiddenError}
     * @throws {@link phenoml.summary.NotFoundError}
     * @throws {@link phenoml.summary.InternalServerError}
     *
     * @example
     *     await client.summary.summaryTemplates.getTemplate("id")
     */
    public getTemplate(
        id: string,
        requestOptions?: SummaryTemplatesClient.RequestOptions,
    ): core.HttpResponsePromise<phenoml.summary.GetTemplateResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getTemplate(id, requestOptions));
    }

    private async __getTemplate(
        id: string,
        requestOptions?: SummaryTemplatesClient.RequestOptions,
    ): Promise<core.WithRawResponse<phenoml.summary.GetTemplateResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.phenomlEnvironment.Default,
                `fhir2summary/template/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as phenoml.summary.GetTemplateResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new phenoml.summary.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new phenoml.summary.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new phenoml.summary.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new phenoml.summary.InternalServerError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.phenomlError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/fhir2summary/template/{id}");
    }

    /**
     * Updates an existing summary template
     *
     * @param {string} id - Template ID
     * @param {phenoml.summary.UpdateSummaryTemplateRequest} request
     * @param {SummaryTemplatesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link phenoml.summary.BadRequestError}
     * @throws {@link phenoml.summary.UnauthorizedError}
     * @throws {@link phenoml.summary.ForbiddenError}
     * @throws {@link phenoml.summary.NotFoundError}
     * @throws {@link phenoml.summary.InternalServerError}
     *
     * @example
     *     await client.summary.summaryTemplates.updateTemplate("id", {
     *         name: "Discharge Summary",
     *         template: "Patient {{Patient.name[0].text}} was discharged on {{Encounter[0].period.end}} with {{MedicationRequest[0].medicationCodeableConcept.coding[0].display}} {{MedicationRequest[0].dosageInstruction[0].text}}.",
     *         target_resources: ["Patient", "Encounter", "MedicationRequest"],
     *         mode: "narrative"
     *     })
     */
    public updateTemplate(
        id: string,
        request: phenoml.summary.UpdateSummaryTemplateRequest,
        requestOptions?: SummaryTemplatesClient.RequestOptions,
    ): core.HttpResponsePromise<phenoml.summary.UpdateTemplateResponse> {
        return core.HttpResponsePromise.fromPromise(this.__updateTemplate(id, request, requestOptions));
    }

    private async __updateTemplate(
        id: string,
        request: phenoml.summary.UpdateSummaryTemplateRequest,
        requestOptions?: SummaryTemplatesClient.RequestOptions,
    ): Promise<core.WithRawResponse<phenoml.summary.UpdateTemplateResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.phenomlEnvironment.Default,
                `fhir2summary/template/${core.url.encodePathParam(id)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as phenoml.summary.UpdateTemplateResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new phenoml.summary.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new phenoml.summary.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new phenoml.summary.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new phenoml.summary.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new phenoml.summary.InternalServerError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.phenomlError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PUT", "/fhir2summary/template/{id}");
    }

    /**
     * Deletes a summary template
     *
     * @param {string} id - Template ID
     * @param {SummaryTemplatesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link phenoml.summary.UnauthorizedError}
     * @throws {@link phenoml.summary.ForbiddenError}
     * @throws {@link phenoml.summary.NotFoundError}
     * @throws {@link phenoml.summary.InternalServerError}
     *
     * @example
     *     await client.summary.summaryTemplates.deleteTemplate("id")
     */
    public deleteTemplate(
        id: string,
        requestOptions?: SummaryTemplatesClient.RequestOptions,
    ): core.HttpResponsePromise<phenoml.summary.DeleteTemplateResponse> {
        return core.HttpResponsePromise.fromPromise(this.__deleteTemplate(id, requestOptions));
    }

    private async __deleteTemplate(
        id: string,
        requestOptions?: SummaryTemplatesClient.RequestOptions,
    ): Promise<core.WithRawResponse<phenoml.summary.DeleteTemplateResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.phenomlEnvironment.Default,
                `fhir2summary/template/${core.url.encodePathParam(id)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as phenoml.summary.DeleteTemplateResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new phenoml.summary.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new phenoml.summary.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new phenoml.summary.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new phenoml.summary.InternalServerError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.phenomlError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/fhir2summary/template/{id}",
        );
    }
}
