/**
 * This file was auto-generated by Fern from our API Definition.
 */

import * as phenoml from "../../../../index.js";

/**
 * @example
 *     {
 *         "X-Phenoml-On-Behalf-Of": "user@example.com",
 *         body: [{
 *                 op: "replace",
 *                 path: "/name/0/family",
 *                 value: "NewFamilyName"
 *             }]
 *     }
 *
 * @example
 *     {
 *         "X-Phenoml-On-Behalf-Of": "user@example.com",
 *         body: [{
 *                 op: "add",
 *                 path: "/telecom/-",
 *                 value: {
 *                     "system": "phone",
 *                     "value": "+1-555-123-4567",
 *                     "use": "home"
 *                 }
 *             }]
 *     }
 *
 * @example
 *     {
 *         "X-Phenoml-On-Behalf-Of": "user@example.com",
 *         body: [{
 *                 op: "replace",
 *                 path: "/name/0/family",
 *                 value: "Smith"
 *             }, {
 *                 op: "add",
 *                 path: "/telecom/-",
 *                 value: {
 *                     "system": "email",
 *                     "value": "john.smith@example.com"
 *                 }
 *             }, {
 *                 op: "remove",
 *                 path: "/address/0"
 *             }]
 *     }
 *
 * @example
 *     {
 *         "X-Phenoml-On-Behalf-Of": "user@example.com",
 *         body: [{
 *                 op: "test",
 *                 path: "/gender",
 *                 value: "male"
 *             }, {
 *                 op: "replace",
 *                 path: "/gender",
 *                 value: "female"
 *             }]
 *     }
 */
export interface FhirPatchRequest {
    /** Optional header for on-behalf-of authentication. Used when making requests on behalf of another user or entity. */
    "X-Phenoml-On-Behalf-Of"?: string;
    /** Array of JSON Patch operations following RFC 6902 */
    body: phenoml.fhir.FhirPatchRequestBodyItem[];
}
