// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as phenoml from "../../../index.js";
import { CodeSystemsClient } from "../resources/codeSystems/client/Client.js";
import { CodesClient } from "../resources/codes/client/Client.js";

export declare namespace ConstrueClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ConstrueClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ConstrueClient.Options>;
    protected _codeSystems: CodeSystemsClient | undefined;
    protected _codes: CodesClient | undefined;

    constructor(options: ConstrueClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get codeSystems(): CodeSystemsClient {
        return (this._codeSystems ??= new CodeSystemsClient(this._options));
    }

    public get codes(): CodesClient {
        return (this._codes ??= new CodesClient(this._options));
    }

    /**
     * Submits user feedback on results from the Construe extraction endpoint.
     * Feedback includes the full extraction result received and the result the user expected.
     *
     * @param {phenoml.construe.FeedbackRequest} request
     * @param {ConstrueClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link phenoml.construe.BadRequestError}
     * @throws {@link phenoml.construe.UnauthorizedError}
     * @throws {@link phenoml.construe.InternalServerError}
     * @throws {@link phenoml.construe.ServiceUnavailableError}
     *
     * @example
     *     await client.construe.submitFeedback({
     *         text: "Patient has type 2 diabetes with hyperglycemia",
     *         received_result: {
     *             system: {
     *                 name: "ICD-10-CM",
     *                 version: "2025"
     *             },
     *             codes: [{
     *                     code: "E11.9",
     *                     description: "Type 2 diabetes mellitus without complications",
     *                     valid: true
     *                 }]
     *         },
     *         expected_result: {
     *             system: {
     *                 name: "ICD-10-CM",
     *                 version: "2025"
     *             },
     *             codes: [{
     *                     code: "E11.65",
     *                     description: "Type 2 diabetes mellitus with hyperglycemia",
     *                     valid: true
     *                 }]
     *         },
     *         detail: "Expected code E11.65 because the text mentions hyperglycemia"
     *     })
     */
    public submitFeedback(
        request: phenoml.construe.FeedbackRequest,
        requestOptions?: ConstrueClient.RequestOptions,
    ): core.HttpResponsePromise<phenoml.construe.FeedbackResponse> {
        return core.HttpResponsePromise.fromPromise(this.__submitFeedback(request, requestOptions));
    }

    private async __submitFeedback(
        request: phenoml.construe.FeedbackRequest,
        requestOptions?: ConstrueClient.RequestOptions,
    ): Promise<core.WithRawResponse<phenoml.construe.FeedbackResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.phenomlEnvironment.Default,
                "construe/feedback",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as phenoml.construe.FeedbackResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new phenoml.construe.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new phenoml.construe.UnauthorizedError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 500:
                    throw new phenoml.construe.InternalServerError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 503:
                    throw new phenoml.construe.ServiceUnavailableError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.phenomlError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/construe/feedback");
    }
}
