// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as phenoml from "../../../index.js";

export declare namespace ConstrueClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ConstrueClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ConstrueClient.Options>;

    constructor(options: ConstrueClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Upload a custom medical code system with codes and descriptions for use in code extraction. Requires a paid plan.
     * Returns 202 immediately; embedding generation runs asynchronously. Poll
     * GET /construe/codes/systems/{codesystem}?version={version} to check when status
     * transitions from "processing" to "ready" or "failed".
     *
     * @param {phenoml.construe.UploadRequest} request
     * @param {ConstrueClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link phenoml.construe.BadRequestError}
     * @throws {@link phenoml.construe.UnauthorizedError}
     * @throws {@link phenoml.construe.ForbiddenError}
     * @throws {@link phenoml.construe.ConflictError}
     * @throws {@link phenoml.construe.FailedDependencyError}
     * @throws {@link phenoml.construe.InternalServerError}
     *
     * @example
     *     await client.construe.uploadCodeSystem({
     *         name: "CUSTOM_CODES",
     *         version: "1.0",
     *         format: "json",
     *         codes: [{
     *                 code: "X001",
     *                 description: "Example custom code 1"
     *             }, {
     *                 code: "X002",
     *                 description: "Example custom code 2"
     *             }]
     *     })
     *
     * @example
     *     await client.construe.uploadCodeSystem({
     *         name: "CUSTOM_CODES",
     *         version: "1.0",
     *         format: "csv",
     *         file: "Y29kZSxkZXNjcmlwdGlvbgpYMDAxLEV4YW1wbGUgY3VzdG9tIGNvZGUgMQo=",
     *         code_col: "code",
     *         desc_col: "description"
     *     })
     */
    public uploadCodeSystem(
        request: phenoml.construe.UploadRequest,
        requestOptions?: ConstrueClient.RequestOptions,
    ): core.HttpResponsePromise<phenoml.construe.UploadCodeSystemResponse> {
        return core.HttpResponsePromise.fromPromise(this.__uploadCodeSystem(request, requestOptions));
    }

    private async __uploadCodeSystem(
        request: phenoml.construe.UploadRequest,
        requestOptions?: ConstrueClient.RequestOptions,
    ): Promise<core.WithRawResponse<phenoml.construe.UploadCodeSystemResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.phenomlEnvironment.Default,
                "construe/upload",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as phenoml.construe.UploadCodeSystemResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new phenoml.construe.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new phenoml.construe.UnauthorizedError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 403:
                    throw new phenoml.construe.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 409:
                    throw new phenoml.construe.ConflictError(_response.error.body as unknown, _response.rawResponse);
                case 424:
                    throw new phenoml.construe.FailedDependencyError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 500:
                    throw new phenoml.construe.InternalServerError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.phenomlError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/construe/upload");
    }

    /**
     * Converts natural language text into structured medical codes.
     *
     * Usage of CPT is subject to AMA requirements: see PhenoML Terms of Service.
     *
     * @param {phenoml.construe.ExtractRequest} request
     * @param {ConstrueClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link phenoml.construe.BadRequestError}
     * @throws {@link phenoml.construe.UnauthorizedError}
     * @throws {@link phenoml.construe.NotFoundError}
     * @throws {@link phenoml.construe.InternalServerError}
     * @throws {@link phenoml.construe.ServiceUnavailableError}
     * @throws {@link phenoml.construe.GatewayTimeoutError}
     *
     * @example
     *     await client.construe.extractCodes({
     *         text: "Patient is a 14-year-old female, previously healthy, who is here for evaluation of abnormal renal ultrasound with atrophic right kidney.",
     *         system: {
     *             name: "ICD-10-CM",
     *             version: "2025"
     *         }
     *     })
     *
     * @example
     *     await client.construe.extractCodes({
     *         text: "45-year-old male presents with chest pain radiating to left arm, shortness of breath, and diaphoresis. ECG shows ST elevation in leads II, III, and aVF.",
     *         system: {
     *             name: "SNOMED_CT_US_LITE",
     *             version: "20240901"
     *         },
     *         config: {
     *             chunking_method: "sentences",
     *             validation_method: "simple",
     *             include_rationale: true,
     *             include_citations: true
     *         }
     *     })
     *
     * @example
     *     await client.construe.extractCodes({
     *         text: "Start Metformin 500mg twice daily for type 2 diabetes. Continue Lisinopril 10mg daily for hypertension. Add Atorvastatin 20mg at bedtime.",
     *         system: {
     *             name: "RXNORM",
     *             version: "11042024"
     *         },
     *         config: {
     *             validation_method: "medication_search",
     *             include_rationale: true
     *         }
     *     })
     *
     * @example
     *     await client.construe.extractCodes({
     *         text: "Patient diagnosed with Type 2 diabetes mellitus with diabetic chronic kidney disease, stage 3.",
     *         system: {
     *             name: "ICD-10-CM",
     *             version: "2025"
     *         },
     *         config: {
     *             validation_method: "simple",
     *             include_ancestors: true
     *         }
     *     })
     *
     * @example
     *     await client.construe.extractCodes({
     *         text: "5-year-old male with seizures, severe intellectual disability, microcephaly, and hypotonia.",
     *         system: {
     *             name: "HPO",
     *             version: "2025"
     *         },
     *         config: {
     *             chunking_method: "fasthpocr",
     *             validation_method: "none",
     *             include_rationale: false
     *         }
     *     })
     */
    public extractCodes(
        request: phenoml.construe.ExtractRequest,
        requestOptions?: ConstrueClient.RequestOptions,
    ): core.HttpResponsePromise<phenoml.construe.ExtractCodesResult> {
        return core.HttpResponsePromise.fromPromise(this.__extractCodes(request, requestOptions));
    }

    private async __extractCodes(
        request: phenoml.construe.ExtractRequest,
        requestOptions?: ConstrueClient.RequestOptions,
    ): Promise<core.WithRawResponse<phenoml.construe.ExtractCodesResult>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.phenomlEnvironment.Default,
                "construe/extract",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as phenoml.construe.ExtractCodesResult, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new phenoml.construe.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new phenoml.construe.UnauthorizedError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 404:
                    throw new phenoml.construe.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new phenoml.construe.InternalServerError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 503:
                    throw new phenoml.construe.ServiceUnavailableError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 504:
                    throw new phenoml.construe.GatewayTimeoutError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.phenomlError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/construe/extract");
    }

    /**
     * Returns the terminology server's catalog of available code systems, including both built-in standard terminologies and custom uploaded systems.
     *
     * @param {ConstrueClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link phenoml.construe.UnauthorizedError}
     * @throws {@link phenoml.construe.InternalServerError}
     *
     * @example
     *     await client.construe.listCodeSystems()
     */
    public listCodeSystems(
        requestOptions?: ConstrueClient.RequestOptions,
    ): core.HttpResponsePromise<phenoml.construe.ListCodeSystemsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listCodeSystems(requestOptions));
    }

    private async __listCodeSystems(
        requestOptions?: ConstrueClient.RequestOptions,
    ): Promise<core.WithRawResponse<phenoml.construe.ListCodeSystemsResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.phenomlEnvironment.Default,
                "construe/codes/systems",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as phenoml.construe.ListCodeSystemsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new phenoml.construe.UnauthorizedError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 500:
                    throw new phenoml.construe.InternalServerError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.phenomlError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/construe/codes/systems");
    }

    /**
     * Returns full metadata for a single code system, including timestamps and builtin status.
     *
     * @param {string} codesystem - Code system name (e.g., "ICD-10-CM", "SNOMED_CT_US_LITE")
     * @param {phenoml.construe.GetCodeSystemRequest} request
     * @param {ConstrueClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link phenoml.construe.BadRequestError}
     * @throws {@link phenoml.construe.UnauthorizedError}
     * @throws {@link phenoml.construe.NotFoundError}
     * @throws {@link phenoml.construe.InternalServerError}
     *
     * @example
     *     await client.construe.getCodeSystem("ICD-10-CM", {
     *         version: "2025"
     *     })
     */
    public getCodeSystem(
        codesystem: string,
        request: phenoml.construe.GetCodeSystemRequest = {},
        requestOptions?: ConstrueClient.RequestOptions,
    ): core.HttpResponsePromise<phenoml.construe.GetCodeSystemDetailResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getCodeSystem(codesystem, request, requestOptions));
    }

    private async __getCodeSystem(
        codesystem: string,
        request: phenoml.construe.GetCodeSystemRequest = {},
        requestOptions?: ConstrueClient.RequestOptions,
    ): Promise<core.WithRawResponse<phenoml.construe.GetCodeSystemDetailResponse>> {
        const { version } = request;
        const _queryParams: Record<string, unknown> = {
            version,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.phenomlEnvironment.Default,
                `construe/codes/systems/${core.url.encodePathParam(codesystem)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as phenoml.construe.GetCodeSystemDetailResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new phenoml.construe.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new phenoml.construe.UnauthorizedError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 404:
                    throw new phenoml.construe.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new phenoml.construe.InternalServerError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.phenomlError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/construe/codes/systems/{codesystem}",
        );
    }

    /**
     * Deletes a custom (non-builtin) code system and all its codes. Builtin systems cannot be deleted.
     * Only available on dedicated instances. Large systems may take up to a minute to delete.
     *
     * @param {string} codesystem - Code system name
     * @param {phenoml.construe.DeleteCodeSystemRequest} request
     * @param {ConstrueClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link phenoml.construe.BadRequestError}
     * @throws {@link phenoml.construe.UnauthorizedError}
     * @throws {@link phenoml.construe.ForbiddenError}
     * @throws {@link phenoml.construe.NotFoundError}
     * @throws {@link phenoml.construe.InternalServerError}
     *
     * @example
     *     await client.construe.deleteCodeSystem("CUSTOM_CODES", {
     *         version: "version"
     *     })
     */
    public deleteCodeSystem(
        codesystem: string,
        request: phenoml.construe.DeleteCodeSystemRequest = {},
        requestOptions?: ConstrueClient.RequestOptions,
    ): core.HttpResponsePromise<phenoml.construe.DeleteCodeSystemResponse> {
        return core.HttpResponsePromise.fromPromise(this.__deleteCodeSystem(codesystem, request, requestOptions));
    }

    private async __deleteCodeSystem(
        codesystem: string,
        request: phenoml.construe.DeleteCodeSystemRequest = {},
        requestOptions?: ConstrueClient.RequestOptions,
    ): Promise<core.WithRawResponse<phenoml.construe.DeleteCodeSystemResponse>> {
        const { version } = request;
        const _queryParams: Record<string, unknown> = {
            version,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.phenomlEnvironment.Default,
                `construe/codes/systems/${core.url.encodePathParam(codesystem)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as phenoml.construe.DeleteCodeSystemResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new phenoml.construe.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new phenoml.construe.UnauthorizedError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 403:
                    throw new phenoml.construe.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new phenoml.construe.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new phenoml.construe.InternalServerError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.phenomlError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/construe/codes/systems/{codesystem}",
        );
    }

    /**
     * Exports a custom (non-builtin) code system as a JSON file compatible with the upload format.
     * The exported file can be re-uploaded directly via POST /construe/upload with format "json".
     * Only available on dedicated instances. Builtin systems cannot be exported.
     *
     * @param {string} codesystem - Code system name
     * @param {phenoml.construe.ExportCodeSystemRequest} request
     * @param {ConstrueClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link phenoml.construe.BadRequestError}
     * @throws {@link phenoml.construe.UnauthorizedError}
     * @throws {@link phenoml.construe.ForbiddenError}
     * @throws {@link phenoml.construe.NotFoundError}
     * @throws {@link phenoml.construe.ConflictError}
     * @throws {@link phenoml.construe.FailedDependencyError}
     * @throws {@link phenoml.construe.InternalServerError}
     *
     * @example
     *     await client.construe.exportCodeSystem("CUSTOM_CODES", {
     *         version: "version"
     *     })
     */
    public exportCodeSystem(
        codesystem: string,
        request: phenoml.construe.ExportCodeSystemRequest = {},
        requestOptions?: ConstrueClient.RequestOptions,
    ): core.HttpResponsePromise<phenoml.construe.ExportCodeSystemResponse> {
        return core.HttpResponsePromise.fromPromise(this.__exportCodeSystem(codesystem, request, requestOptions));
    }

    private async __exportCodeSystem(
        codesystem: string,
        request: phenoml.construe.ExportCodeSystemRequest = {},
        requestOptions?: ConstrueClient.RequestOptions,
    ): Promise<core.WithRawResponse<phenoml.construe.ExportCodeSystemResponse>> {
        const { version } = request;
        const _queryParams: Record<string, unknown> = {
            version,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.phenomlEnvironment.Default,
                `construe/codes/systems/${core.url.encodePathParam(codesystem)}/export`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as phenoml.construe.ExportCodeSystemResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new phenoml.construe.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new phenoml.construe.UnauthorizedError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 403:
                    throw new phenoml.construe.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new phenoml.construe.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 409:
                    throw new phenoml.construe.ConflictError(_response.error.body as unknown, _response.rawResponse);
                case 424:
                    throw new phenoml.construe.FailedDependencyError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 500:
                    throw new phenoml.construe.InternalServerError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.phenomlError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/construe/codes/systems/{codesystem}/export",
        );
    }

    /**
     * Returns a paginated list of all codes in the specified code system from the terminology server.
     *
     * Usage of CPT is subject to AMA requirements: see PhenoML Terms of Service.
     *
     * @param {string} codesystem - Code system name (e.g., "ICD-10-CM", "SNOMED_CT_US_LITE")
     * @param {phenoml.construe.ListCodesRequest} request
     * @param {ConstrueClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link phenoml.construe.BadRequestError}
     * @throws {@link phenoml.construe.UnauthorizedError}
     * @throws {@link phenoml.construe.NotFoundError}
     * @throws {@link phenoml.construe.InternalServerError}
     *
     * @example
     *     await client.construe.listCodes("ICD-10-CM", {
     *         version: "2025",
     *         cursor: "cursor",
     *         limit: 1
     *     })
     */
    public listCodes(
        codesystem: string,
        request: phenoml.construe.ListCodesRequest = {},
        requestOptions?: ConstrueClient.RequestOptions,
    ): core.HttpResponsePromise<phenoml.construe.ListCodesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listCodes(codesystem, request, requestOptions));
    }

    private async __listCodes(
        codesystem: string,
        request: phenoml.construe.ListCodesRequest = {},
        requestOptions?: ConstrueClient.RequestOptions,
    ): Promise<core.WithRawResponse<phenoml.construe.ListCodesResponse>> {
        const { version, cursor, limit } = request;
        const _queryParams: Record<string, unknown> = {
            version,
            cursor,
            limit,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.phenomlEnvironment.Default,
                `construe/codes/${core.url.encodePathParam(codesystem)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as phenoml.construe.ListCodesResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new phenoml.construe.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new phenoml.construe.UnauthorizedError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 404:
                    throw new phenoml.construe.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new phenoml.construe.InternalServerError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.phenomlError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/construe/codes/{codesystem}");
    }

    /**
     * Looks up a specific code in the terminology server and returns its details.
     *
     * Usage of CPT is subject to AMA requirements: see PhenoML Terms of Service.
     *
     * @param {string} codesystem - Code system name
     * @param {string} codeID - The code identifier. ICD-10-CM codes are stored without their
     *                          cosmetic dot (use "E1165", not "E11.65").
     * @param {phenoml.construe.GetCodeRequest} request
     * @param {ConstrueClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link phenoml.construe.BadRequestError}
     * @throws {@link phenoml.construe.UnauthorizedError}
     * @throws {@link phenoml.construe.NotFoundError}
     * @throws {@link phenoml.construe.InternalServerError}
     *
     * @example
     *     await client.construe.getCode("ICD-10-CM", "E1165", {
     *         version: "version"
     *     })
     */
    public getCode(
        codesystem: string,
        codeID: string,
        request: phenoml.construe.GetCodeRequest = {},
        requestOptions?: ConstrueClient.RequestOptions,
    ): core.HttpResponsePromise<phenoml.construe.GetCodeResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getCode(codesystem, codeID, request, requestOptions));
    }

    private async __getCode(
        codesystem: string,
        codeID: string,
        request: phenoml.construe.GetCodeRequest = {},
        requestOptions?: ConstrueClient.RequestOptions,
    ): Promise<core.WithRawResponse<phenoml.construe.GetCodeResponse>> {
        const { version } = request;
        const _queryParams: Record<string, unknown> = {
            version,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.phenomlEnvironment.Default,
                `construe/codes/${core.url.encodePathParam(codesystem)}/${core.url.encodePathParam(codeID)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as phenoml.construe.GetCodeResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new phenoml.construe.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new phenoml.construe.UnauthorizedError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 404:
                    throw new phenoml.construe.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new phenoml.construe.InternalServerError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.phenomlError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/construe/codes/{codesystem}/{codeID}",
        );
    }

    /**
     * Performs semantic similarity search using vector embeddings.
     *
     * **Availability**: This endpoint works for both **built-in and custom** code systems.
     *
     * **When to use**: Best for natural language queries where you want to find conceptually
     * related codes, even when different terminology is used. The search understands meaning,
     * not just keywords.
     *
     * **Examples**:
     * - Query "trouble breathing at night" finds codes like "Sleep apnea", "Orthopnea",
     *   "Nocturnal dyspnea" — semantically related but no exact keyword matches
     * - Query "heart problems" finds "Myocardial infarction", "Cardiac arrest", "Arrhythmia"
     *
     * **Trade-offs**: Slower than text search (requires embedding generation), but finds
     * conceptually similar results that keyword search would miss.
     *
     * See also: `/search/text` for faster keyword-based lookup with typo tolerance.
     *
     * Usage of CPT is subject to AMA requirements: see PhenoML Terms of Service.
     *
     * @param {string} codesystem - Code system name
     * @param {phenoml.construe.SearchSemanticRequest} request
     * @param {ConstrueClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link phenoml.construe.BadRequestError}
     * @throws {@link phenoml.construe.UnauthorizedError}
     * @throws {@link phenoml.construe.NotFoundError}
     * @throws {@link phenoml.construe.InternalServerError}
     *
     * @example
     *     await client.construe.searchSemantic("ICD-10-CM", {
     *         text: "patient has trouble breathing at night and wakes up gasping",
     *         version: "version",
     *         limit: 1
     *     })
     */
    public searchSemantic(
        codesystem: string,
        request: phenoml.construe.SearchSemanticRequest,
        requestOptions?: ConstrueClient.RequestOptions,
    ): core.HttpResponsePromise<phenoml.construe.SemanticSearchResponse> {
        return core.HttpResponsePromise.fromPromise(this.__searchSemantic(codesystem, request, requestOptions));
    }

    private async __searchSemantic(
        codesystem: string,
        request: phenoml.construe.SearchSemanticRequest,
        requestOptions?: ConstrueClient.RequestOptions,
    ): Promise<core.WithRawResponse<phenoml.construe.SemanticSearchResponse>> {
        const { text, version, limit } = request;
        const _queryParams: Record<string, unknown> = {
            text,
            version,
            limit,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.phenomlEnvironment.Default,
                `construe/codes/${core.url.encodePathParam(codesystem)}/search/semantic`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as phenoml.construe.SemanticSearchResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new phenoml.construe.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new phenoml.construe.UnauthorizedError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 404:
                    throw new phenoml.construe.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new phenoml.construe.InternalServerError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.phenomlError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/construe/codes/{codesystem}/search/semantic",
        );
    }

    /**
     * Submits user feedback on results from the Construe extraction endpoint.
     * Feedback includes the full extraction result received and the result the user expected.
     *
     * @param {phenoml.construe.FeedbackRequest} request
     * @param {ConstrueClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link phenoml.construe.BadRequestError}
     * @throws {@link phenoml.construe.UnauthorizedError}
     * @throws {@link phenoml.construe.InternalServerError}
     * @throws {@link phenoml.construe.ServiceUnavailableError}
     *
     * @example
     *     await client.construe.submitFeedback({
     *         text: "Patient has type 2 diabetes with hyperglycemia",
     *         received_result: {
     *             system: {
     *                 name: "ICD-10-CM",
     *                 version: "2025"
     *             },
     *             codes: [{
     *                     code: "E11.9",
     *                     description: "Type 2 diabetes mellitus without complications",
     *                     valid: true
     *                 }]
     *         },
     *         expected_result: {
     *             system: {
     *                 name: "ICD-10-CM",
     *                 version: "2025"
     *             },
     *             codes: [{
     *                     code: "E11.65",
     *                     description: "Type 2 diabetes mellitus with hyperglycemia",
     *                     valid: true
     *                 }]
     *         },
     *         detail: "Expected code E11.65 because the text mentions hyperglycemia"
     *     })
     */
    public submitFeedback(
        request: phenoml.construe.FeedbackRequest,
        requestOptions?: ConstrueClient.RequestOptions,
    ): core.HttpResponsePromise<phenoml.construe.FeedbackResponse> {
        return core.HttpResponsePromise.fromPromise(this.__submitFeedback(request, requestOptions));
    }

    private async __submitFeedback(
        request: phenoml.construe.FeedbackRequest,
        requestOptions?: ConstrueClient.RequestOptions,
    ): Promise<core.WithRawResponse<phenoml.construe.FeedbackResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.phenomlEnvironment.Default,
                "construe/feedback",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as phenoml.construe.FeedbackResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new phenoml.construe.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new phenoml.construe.UnauthorizedError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 500:
                    throw new phenoml.construe.InternalServerError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 503:
                    throw new phenoml.construe.ServiceUnavailableError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.phenomlError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/construe/feedback");
    }

    /**
     * Performs fast full-text search over code IDs and descriptions.
     *
     * **Availability**: This endpoint is only available for **built-in code systems**.
     * Custom code systems uploaded via `/construe/upload` are not indexed for full-text search
     * and will return empty results. Use `/search/semantic` to search custom code systems.
     *
     * **When to use**: Best for autocomplete UIs, code lookup, or when users know part of
     * the code ID or specific keywords. Fast response times suitable for typeahead interfaces.
     *
     * **Features**:
     * - Substring matching on code IDs (e.g., "11.65" finds "E11.65")
     * - Typo tolerance on descriptions (not on code IDs)
     * - Fast response times (~10-50ms)
     *
     * **Examples**:
     * - Query "E11" finds all codes starting with E11 (diabetes codes)
     * - Query "diabtes" (typo) still finds "diabetes" codes
     *
     * **Trade-offs**: Faster than semantic search, but only matches keywords/substrings.
     * Won't find conceptually related codes with different terminology.
     *
     * See also: `/search/semantic` for finding conceptually similar codes.
     *
     * Usage of CPT is subject to AMA requirements: see PhenoML Terms of Service.
     *
     * @param {string} codesystem - Code system name
     * @param {phenoml.construe.SearchTextRequest} request
     * @param {ConstrueClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link phenoml.construe.BadRequestError}
     * @throws {@link phenoml.construe.UnauthorizedError}
     * @throws {@link phenoml.construe.NotFoundError}
     * @throws {@link phenoml.construe.InternalServerError}
     * @throws {@link phenoml.construe.NotImplementedError}
     *
     * @example
     *     await client.construe.searchText("ICD-10-CM", {
     *         q: "E11.65",
     *         version: "version",
     *         limit: 1
     *     })
     */
    public searchText(
        codesystem: string,
        request: phenoml.construe.SearchTextRequest,
        requestOptions?: ConstrueClient.RequestOptions,
    ): core.HttpResponsePromise<phenoml.construe.TextSearchResponse> {
        return core.HttpResponsePromise.fromPromise(this.__searchText(codesystem, request, requestOptions));
    }

    private async __searchText(
        codesystem: string,
        request: phenoml.construe.SearchTextRequest,
        requestOptions?: ConstrueClient.RequestOptions,
    ): Promise<core.WithRawResponse<phenoml.construe.TextSearchResponse>> {
        const { q, version, limit } = request;
        const _queryParams: Record<string, unknown> = {
            q,
            version,
            limit,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.phenomlEnvironment.Default,
                `construe/codes/${core.url.encodePathParam(codesystem)}/search/text`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as phenoml.construe.TextSearchResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new phenoml.construe.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new phenoml.construe.UnauthorizedError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 404:
                    throw new phenoml.construe.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new phenoml.construe.InternalServerError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 501:
                    throw new phenoml.construe.NotImplementedError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.phenomlError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/construe/codes/{codesystem}/search/text",
        );
    }
}
