// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { toJson } from "../../../../core/json.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as phenoml from "../../../index.js";

export declare namespace FhirClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class FhirClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<FhirClient.Options>;

    constructor(options: FhirClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Retrieves FHIR resources from the specified provider. Supports both individual resource retrieval and search operations based on the FHIR path and query parameters.
     *
     * The request is proxied to the configured FHIR server with appropriate authentication headers.
     *
     * @param {string} fhir_provider_id - The ID of the FHIR provider to use. Can be either:
     *                                    - A UUID representing the provider ID
     *                                    - A provider name (legacy support - will just use the most recently updated provider with this name)
     * @param {string} fhir_path - The FHIR resource path to operate on. This follows FHIR RESTful API conventions.
     *                             Examples:
     *                             - "Patient" (for resource type operations)
     *                             - "Patient/123" (for specific resource operations)
     *                             - "Patient/123/_history" (for history operations)
     * @param {phenoml.fhir.FhirSearchRequest} request
     * @param {FhirClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link phenoml.fhir.BadRequestError}
     * @throws {@link phenoml.fhir.UnauthorizedError}
     * @throws {@link phenoml.fhir.NotFoundError}
     * @throws {@link phenoml.fhir.InternalServerError}
     *
     * @example
     *     await client.fhir.search("550e8400-e29b-41d4-a716-446655440000", "Patient", {
     *         "X-Phenoml-On-Behalf-Of": "user@example.com"
     *     })
     */
    public search(
        fhir_provider_id: string,
        fhir_path: string,
        request: phenoml.fhir.FhirSearchRequest = {},
        requestOptions?: FhirClient.RequestOptions,
    ): core.HttpResponsePromise<phenoml.fhir.FhirSearchResponse> {
        return core.HttpResponsePromise.fromPromise(
            this.__search(fhir_provider_id, fhir_path, request, requestOptions),
        );
    }

    private async __search(
        fhir_provider_id: string,
        fhir_path: string,
        request: phenoml.fhir.FhirSearchRequest = {},
        requestOptions?: FhirClient.RequestOptions,
    ): Promise<core.WithRawResponse<phenoml.fhir.FhirSearchResponse>> {
        const { query_parameters: queryParameters, "X-Phenoml-On-Behalf-Of": phenomlOnBehalfOf } = request;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        if (queryParameters != null) {
            _queryParams.query_parameters = toJson(queryParameters);
        }

        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Phenoml-On-Behalf-Of": phenomlOnBehalfOf != null ? phenomlOnBehalfOf : undefined,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.phenomlEnvironment.Default,
                `fhir-provider/${core.url.encodePathParam(fhir_provider_id)}/fhir/${core.url.encodePathParam(fhir_path)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as phenoml.fhir.FhirSearchResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new phenoml.fhir.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new phenoml.fhir.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new phenoml.fhir.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new phenoml.fhir.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.phenomlError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/fhir-provider/{fhir_provider_id}/fhir/{fhir_path}",
        );
    }

    /**
     * Creates a new FHIR resource on the specified provider. The request body should contain a valid FHIR resource in JSON format.
     *
     * The request is proxied to the configured FHIR server with appropriate authentication headers.
     *
     * @param {string} fhir_provider_id - The ID of the FHIR provider to use. Can be either:
     *                                    - A UUID representing the provider ID
     *                                    - A provider name (legacy support - will just use the most recently updated provider with this name)
     * @param {string} fhir_path - The FHIR resource path to operate on. This follows FHIR RESTful API conventions.
     *                             Examples:
     *                             - "Patient" (for resource type operations)
     *                             - "Patient/123" (for specific resource operations)
     *                             - "Patient/123/_history" (for history operations)
     * @param {phenoml.fhir.FhirCreateRequest} request
     * @param {FhirClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link phenoml.fhir.BadRequestError}
     * @throws {@link phenoml.fhir.UnauthorizedError}
     * @throws {@link phenoml.fhir.InternalServerError}
     *
     * @example
     *     await client.fhir.create("550e8400-e29b-41d4-a716-446655440000", "Patient", {
     *         "X-Phenoml-On-Behalf-Of": "user@example.com",
     *         body: {
     *             resourceType: "Patient",
     *             name: [
     *                 {
     *                     "family": "Doe",
     *                     "given": [
     *                         "Jane"
     *                     ]
     *                 }
     *             ],
     *             gender: "female",
     *             birthDate: "1990-01-01"
     *         }
     *     })
     */
    public create(
        fhir_provider_id: string,
        fhir_path: string,
        request: phenoml.fhir.FhirCreateRequest,
        requestOptions?: FhirClient.RequestOptions,
    ): core.HttpResponsePromise<phenoml.fhir.FhirResource> {
        return core.HttpResponsePromise.fromPromise(
            this.__create(fhir_provider_id, fhir_path, request, requestOptions),
        );
    }

    private async __create(
        fhir_provider_id: string,
        fhir_path: string,
        request: phenoml.fhir.FhirCreateRequest,
        requestOptions?: FhirClient.RequestOptions,
    ): Promise<core.WithRawResponse<phenoml.fhir.FhirResource>> {
        const { "X-Phenoml-On-Behalf-Of": phenomlOnBehalfOf, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Phenoml-On-Behalf-Of": phenomlOnBehalfOf != null ? phenomlOnBehalfOf : undefined,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.phenomlEnvironment.Default,
                `fhir-provider/${core.url.encodePathParam(fhir_provider_id)}/fhir/${core.url.encodePathParam(fhir_path)}`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/fhir+json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as phenoml.fhir.FhirResource, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new phenoml.fhir.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new phenoml.fhir.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new phenoml.fhir.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.phenomlError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/fhir-provider/{fhir_provider_id}/fhir/{fhir_path}",
        );
    }

    /**
     * Creates or updates a FHIR resource on the specified provider. If the resource exists, it will be updated; otherwise, it will be created.
     *
     * The request is proxied to the configured FHIR server with appropriate authentication headers.
     *
     * @param {string} fhir_provider_id - The ID of the FHIR provider to use. Can be either:
     *                                    - A UUID representing the provider ID
     *                                    - A provider name (legacy support - will just use the most recently updated provider with this name)
     * @param {string} fhir_path - The FHIR resource path to operate on. This follows FHIR RESTful API conventions.
     *                             Examples:
     *                             - "Patient" (for resource type operations)
     *                             - "Patient/123" (for specific resource operations)
     *                             - "Patient/123/_history" (for history operations)
     * @param {phenoml.fhir.FhirUpsertRequest} request
     * @param {FhirClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link phenoml.fhir.BadRequestError}
     * @throws {@link phenoml.fhir.UnauthorizedError}
     * @throws {@link phenoml.fhir.InternalServerError}
     *
     * @example
     *     await client.fhir.upsert("550e8400-e29b-41d4-a716-446655440000", "Patient", {
     *         "X-Phenoml-On-Behalf-Of": "user@example.com",
     *         body: {
     *             resourceType: "Patient",
     *             id: "123",
     *             name: [
     *                 {
     *                     "family": "Doe",
     *                     "given": [
     *                         "John",
     *                         "Updated"
     *                     ]
     *                 }
     *             ],
     *             gender: "male",
     *             birthDate: "1985-05-15"
     *         }
     *     })
     */
    public upsert(
        fhir_provider_id: string,
        fhir_path: string,
        request: phenoml.fhir.FhirUpsertRequest,
        requestOptions?: FhirClient.RequestOptions,
    ): core.HttpResponsePromise<phenoml.fhir.FhirResource> {
        return core.HttpResponsePromise.fromPromise(
            this.__upsert(fhir_provider_id, fhir_path, request, requestOptions),
        );
    }

    private async __upsert(
        fhir_provider_id: string,
        fhir_path: string,
        request: phenoml.fhir.FhirUpsertRequest,
        requestOptions?: FhirClient.RequestOptions,
    ): Promise<core.WithRawResponse<phenoml.fhir.FhirResource>> {
        const { "X-Phenoml-On-Behalf-Of": phenomlOnBehalfOf, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Phenoml-On-Behalf-Of": phenomlOnBehalfOf != null ? phenomlOnBehalfOf : undefined,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.phenomlEnvironment.Default,
                `fhir-provider/${core.url.encodePathParam(fhir_provider_id)}/fhir/${core.url.encodePathParam(fhir_path)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/fhir+json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as phenoml.fhir.FhirResource, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new phenoml.fhir.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new phenoml.fhir.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new phenoml.fhir.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.phenomlError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/fhir-provider/{fhir_provider_id}/fhir/{fhir_path}",
        );
    }

    /**
     * Deletes a FHIR resource from the specified provider.
     *
     * The request is proxied to the configured FHIR server with appropriate authentication headers.
     *
     * @param {string} fhir_provider_id - The ID of the FHIR provider to use. Can be either:
     *                                    - A UUID representing the provider ID
     *                                    - A provider name (legacy support - will just use the most recently updated provider with this name)
     * @param {string} fhir_path - The FHIR resource path to operate on. This follows FHIR RESTful API conventions.
     *                             Examples:
     *                             - "Patient" (for resource type operations)
     *                             - "Patient/123" (for specific resource operations)
     *                             - "Patient/123/_history" (for history operations)
     * @param {phenoml.fhir.FhirDeleteRequest} request
     * @param {FhirClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link phenoml.fhir.BadRequestError}
     * @throws {@link phenoml.fhir.UnauthorizedError}
     * @throws {@link phenoml.fhir.NotFoundError}
     * @throws {@link phenoml.fhir.InternalServerError}
     *
     * @example
     *     await client.fhir.delete("550e8400-e29b-41d4-a716-446655440000", "Patient", {
     *         "X-Phenoml-On-Behalf-Of": "user@example.com"
     *     })
     */
    public delete(
        fhir_provider_id: string,
        fhir_path: string,
        request: phenoml.fhir.FhirDeleteRequest = {},
        requestOptions?: FhirClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, unknown>> {
        return core.HttpResponsePromise.fromPromise(
            this.__delete(fhir_provider_id, fhir_path, request, requestOptions),
        );
    }

    private async __delete(
        fhir_provider_id: string,
        fhir_path: string,
        request: phenoml.fhir.FhirDeleteRequest = {},
        requestOptions?: FhirClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, unknown>>> {
        const { "X-Phenoml-On-Behalf-Of": phenomlOnBehalfOf } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Phenoml-On-Behalf-Of": phenomlOnBehalfOf != null ? phenomlOnBehalfOf : undefined,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.phenomlEnvironment.Default,
                `fhir-provider/${core.url.encodePathParam(fhir_provider_id)}/fhir/${core.url.encodePathParam(fhir_path)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, unknown>, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new phenoml.fhir.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new phenoml.fhir.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new phenoml.fhir.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new phenoml.fhir.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.phenomlError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/fhir-provider/{fhir_provider_id}/fhir/{fhir_path}",
        );
    }

    /**
     * Partially updates a FHIR resource on the specified provider using JSON Patch operations as defined in RFC 6902.
     *
     * The request body should contain an array of JSON Patch operations. Each operation specifies:
     * - `op`: The operation type (add, remove, replace, move, copy, test)
     * - `path`: JSON Pointer to the target location in the resource
     * - `value`: The value to use (required for add, replace, and test operations)
     *
     * The request is proxied to the configured FHIR server with appropriate authentication headers.
     *
     * @param {string} fhir_provider_id - The ID of the FHIR provider to use. Can be either:
     *                                    - A UUID representing the provider ID
     *                                    - A provider name (legacy support - will just use the most recently updated provider with this name)
     * @param {string} fhir_path - The FHIR resource path to operate on. This follows FHIR RESTful API conventions.
     *                             Examples:
     *                             - "Patient" (for resource type operations)
     *                             - "Patient/123" (for specific resource operations)
     *                             - "Patient/123/_history" (for history operations)
     * @param {phenoml.fhir.FhirPatchRequest} request
     * @param {FhirClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link phenoml.fhir.BadRequestError}
     * @throws {@link phenoml.fhir.UnauthorizedError}
     * @throws {@link phenoml.fhir.NotFoundError}
     * @throws {@link phenoml.fhir.InternalServerError}
     *
     * @example
     *     await client.fhir.patch("550e8400-e29b-41d4-a716-446655440000", "Patient", {
     *         "X-Phenoml-On-Behalf-Of": "user@example.com",
     *         body: [{
     *                 op: "replace",
     *                 path: "/name/0/family",
     *                 value: "NewFamilyName"
     *             }]
     *     })
     *
     * @example
     *     await client.fhir.patch("550e8400-e29b-41d4-a716-446655440000", "Patient", {
     *         "X-Phenoml-On-Behalf-Of": "user@example.com",
     *         body: [{
     *                 op: "add",
     *                 path: "/telecom/-",
     *                 value: {
     *                     "system": "phone",
     *                     "value": "+1-555-123-4567",
     *                     "use": "home"
     *                 }
     *             }]
     *     })
     *
     * @example
     *     await client.fhir.patch("550e8400-e29b-41d4-a716-446655440000", "Patient", {
     *         "X-Phenoml-On-Behalf-Of": "user@example.com",
     *         body: [{
     *                 op: "replace",
     *                 path: "/name/0/family",
     *                 value: "Smith"
     *             }, {
     *                 op: "add",
     *                 path: "/telecom/-",
     *                 value: {
     *                     "system": "email",
     *                     "value": "john.smith@example.com"
     *                 }
     *             }, {
     *                 op: "remove",
     *                 path: "/address/0"
     *             }]
     *     })
     *
     * @example
     *     await client.fhir.patch("550e8400-e29b-41d4-a716-446655440000", "Patient", {
     *         "X-Phenoml-On-Behalf-Of": "user@example.com",
     *         body: [{
     *                 op: "test",
     *                 path: "/gender",
     *                 value: "male"
     *             }, {
     *                 op: "replace",
     *                 path: "/gender",
     *                 value: "female"
     *             }]
     *     })
     */
    public patch(
        fhir_provider_id: string,
        fhir_path: string,
        request: phenoml.fhir.FhirPatchRequest,
        requestOptions?: FhirClient.RequestOptions,
    ): core.HttpResponsePromise<phenoml.fhir.FhirResource> {
        return core.HttpResponsePromise.fromPromise(this.__patch(fhir_provider_id, fhir_path, request, requestOptions));
    }

    private async __patch(
        fhir_provider_id: string,
        fhir_path: string,
        request: phenoml.fhir.FhirPatchRequest,
        requestOptions?: FhirClient.RequestOptions,
    ): Promise<core.WithRawResponse<phenoml.fhir.FhirResource>> {
        const { "X-Phenoml-On-Behalf-Of": phenomlOnBehalfOf, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Phenoml-On-Behalf-Of": phenomlOnBehalfOf != null ? phenomlOnBehalfOf : undefined,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.phenomlEnvironment.Default,
                `fhir-provider/${core.url.encodePathParam(fhir_provider_id)}/fhir/${core.url.encodePathParam(fhir_path)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json-patch+json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as phenoml.fhir.FhirResource, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new phenoml.fhir.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new phenoml.fhir.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new phenoml.fhir.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new phenoml.fhir.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.phenomlError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/fhir-provider/{fhir_provider_id}/fhir/{fhir_path}",
        );
    }

    /**
     * Executes a FHIR Bundle transaction or batch operation on the specified provider. This allows multiple FHIR resources to be processed in a single request.
     *
     * The request body should contain a valid FHIR Bundle resource with transaction or batch type.
     *
     * The request is proxied to the configured FHIR server with appropriate authentication headers.
     *
     * @param {string} fhir_provider_id - The ID of the FHIR provider to use. Can be either:
     *                                    - A UUID representing the provider ID
     *                                    - A provider name (legacy support - will just use the most recently updated provider with this name)
     * @param {phenoml.fhir.FhirExecuteBundleRequest} request
     * @param {FhirClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link phenoml.fhir.BadRequestError}
     * @throws {@link phenoml.fhir.UnauthorizedError}
     * @throws {@link phenoml.fhir.InternalServerError}
     *
     * @example
     *     await client.fhir.executeBundle("550e8400-e29b-41d4-a716-446655440000", {
     *         "X-Phenoml-On-Behalf-Of": "user@example.com",
     *         body: {
     *             resourceType: "Bundle",
     *             entry: [{
     *                     resource: {
     *                         "resourceType": "Patient",
     *                         "name": [
     *                             {
     *                                 "family": "Doe",
     *                                 "given": [
     *                                     "John"
     *                                 ]
     *                             }
     *                         ]
     *                     },
     *                     request: {
     *                         method: "POST",
     *                         url: "Patient"
     *                     }
     *                 }, {
     *                     resource: {
     *                         "resourceType": "Observation",
     *                         "status": "final",
     *                         "subject": {
     *                             "reference": "Patient/123"
     *                         }
     *                     },
     *                     request: {
     *                         method: "POST",
     *                         url: "Observation"
     *                     }
     *                 }]
     *         }
     *     })
     */
    public executeBundle(
        fhir_provider_id: string,
        request: phenoml.fhir.FhirExecuteBundleRequest,
        requestOptions?: FhirClient.RequestOptions,
    ): core.HttpResponsePromise<phenoml.fhir.FhirBundle> {
        return core.HttpResponsePromise.fromPromise(this.__executeBundle(fhir_provider_id, request, requestOptions));
    }

    private async __executeBundle(
        fhir_provider_id: string,
        request: phenoml.fhir.FhirExecuteBundleRequest,
        requestOptions?: FhirClient.RequestOptions,
    ): Promise<core.WithRawResponse<phenoml.fhir.FhirBundle>> {
        const { "X-Phenoml-On-Behalf-Of": phenomlOnBehalfOf, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Phenoml-On-Behalf-Of": phenomlOnBehalfOf != null ? phenomlOnBehalfOf : undefined,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.phenomlEnvironment.Default,
                `fhir-provider/${core.url.encodePathParam(fhir_provider_id)}/fhir`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/fhir+json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as phenoml.fhir.FhirBundle, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new phenoml.fhir.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new phenoml.fhir.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new phenoml.fhir.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.phenomlError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/fhir-provider/{fhir_provider_id}/fhir",
        );
    }
}
