// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as phenoml from "../../../index.js";

export declare namespace FhirClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class FhirClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<FhirClient.Options>;

    constructor(options: FhirClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Retrieves FHIR resources from the specified provider. Supports both individual resource retrieval (e.g. `Patient/123` via the path) and search operations.
     *
     * FHIR search parameters are passed through to the upstream server verbatim as native query-string parameters; this proxy does not model, validate, or transform them. Append standard FHIR search parameters directly to the request URL. Supported parameters include:
     * - Resource-specific search parameters (e.g. `name` for Patient, `status` for Observation)
     * - Common search parameters (`_id`, `_lastUpdated`, `_tag`, `_profile`, `_security`, `_text`, `_content`, `_filter`)
     * - Result parameters (`_count`, `_offset`, `_sort`, `_include`, `_revinclude`, `_summary`, `_elements`)
     * - Search prefixes for dates, numbers, and quantities (`eq`, `ne`, `gt`, `ge`, `lt`, `le`, `sa`, `eb`, `ap`)
     *
     * Examples:
     * - `Patient?name=John%20Doe&_count=10&_sort=family`
     * - `Observation?patient=Patient/123&date=ge2023-01-01&category=vital-signs&_sort=-date`
     *
     * When using a generated SDK, supply these via the client's request-level query-parameter option (the SDK escape hatch) rather than a typed argument.
     *
     * The request is proxied to the configured FHIR server with appropriate authentication headers.
     *
     * @param {string} fhir_provider_id - The ID of the FHIR provider to use. Can be either:
     *                                    - A UUID representing the provider ID
     *                                    - A provider name (legacy support - will just use the most recently updated provider with this name)
     * @param {string} fhir_path - The FHIR resource path to operate on. This follows FHIR RESTful API conventions.
     *                             Examples:
     *                             - "Patient" (for resource type operations)
     *                             - "Patient/123" (for specific resource operations)
     *                             - "Patient/123/_history" (for history operations)
     * @param {phenoml.fhir.SearchRequest} request
     * @param {FhirClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.fhir.search("550e8400-e29b-41d4-a716-446655440000", "Patient", {
     *         "X-Phenoml-On-Behalf-Of": "Patient/550e8400-e29b-41d4-a716-446655440000",
     *         "X-Phenoml-Fhir-Provider": "550e8400-e29b-41d4-a716-446655440000:eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c..."
     *     })
     */
    public search(
        fhir_provider_id: string,
        fhir_path: string,
        request: phenoml.fhir.SearchRequest = {},
        requestOptions?: FhirClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(
            this.__search(fhir_provider_id, fhir_path, request, requestOptions),
        );
    }

    private async __search(
        fhir_provider_id: string,
        fhir_path: string,
        request: phenoml.fhir.SearchRequest = {},
        requestOptions?: FhirClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const { "X-Phenoml-On-Behalf-Of": phenomlOnBehalfOf, "X-Phenoml-Fhir-Provider": phenomlFhirProvider } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Phenoml-On-Behalf-Of": phenomlOnBehalfOf,
                "X-Phenoml-Fhir-Provider": phenomlFhirProvider,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.phenomlEnvironment.Default,
                `fhir-provider/${core.url.encodePathParam(fhir_provider_id)}/fhir/${core.url.encodePathParam(fhir_path)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.phenomlError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/fhir-provider/{fhir_provider_id}/fhir/{fhir_path}",
        );
    }

    /**
     * Creates a new FHIR resource on the specified provider. The request body should contain a valid FHIR resource in JSON format.
     *
     * The request is proxied to the configured FHIR server with appropriate authentication headers.
     *
     * @param {string} fhir_provider_id - The ID of the FHIR provider to use. Can be either:
     *                                    - A UUID representing the provider ID
     *                                    - A provider name (legacy support - will just use the most recently updated provider with this name)
     * @param {string} fhir_path - The FHIR resource path to operate on. This follows FHIR RESTful API conventions.
     *                             Examples:
     *                             - "Patient" (for resource type operations)
     *                             - "Patient/123" (for specific resource operations)
     *                             - "Patient/123/_history" (for history operations)
     * @param {phenoml.fhir.CreateRequest} request
     * @param {FhirClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.fhir.create("550e8400-e29b-41d4-a716-446655440000", "Patient", {
     *         "X-Phenoml-On-Behalf-Of": "Patient/550e8400-e29b-41d4-a716-446655440000",
     *         "X-Phenoml-Fhir-Provider": "550e8400-e29b-41d4-a716-446655440000:eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c...",
     *         body: {
     *             "resourceType": "Patient"
     *         }
     *     })
     */
    public create(
        fhir_provider_id: string,
        fhir_path: string,
        request: phenoml.fhir.CreateRequest,
        requestOptions?: FhirClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(
            this.__create(fhir_provider_id, fhir_path, request, requestOptions),
        );
    }

    private async __create(
        fhir_provider_id: string,
        fhir_path: string,
        request: phenoml.fhir.CreateRequest,
        requestOptions?: FhirClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const {
            "X-Phenoml-On-Behalf-Of": phenomlOnBehalfOf,
            "X-Phenoml-Fhir-Provider": phenomlFhirProvider,
            body: _body,
        } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Phenoml-On-Behalf-Of": phenomlOnBehalfOf,
                "X-Phenoml-Fhir-Provider": phenomlFhirProvider,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.phenomlEnvironment.Default,
                `fhir-provider/${core.url.encodePathParam(fhir_provider_id)}/fhir/${core.url.encodePathParam(fhir_path)}`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/fhir+json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.phenomlError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/fhir-provider/{fhir_provider_id}/fhir/{fhir_path}",
        );
    }

    /**
     * Creates or updates a FHIR resource on the specified provider. If the resource exists, it will be updated; otherwise, it will be created.
     *
     * The request is proxied to the configured FHIR server with appropriate authentication headers.
     *
     * @param {string} fhir_provider_id - The ID of the FHIR provider to use. Can be either:
     *                                    - A UUID representing the provider ID
     *                                    - A provider name (legacy support - will just use the most recently updated provider with this name)
     * @param {string} fhir_path - The FHIR resource path to operate on. This follows FHIR RESTful API conventions.
     *                             Examples:
     *                             - "Patient" (for resource type operations)
     *                             - "Patient/123" (for specific resource operations)
     *                             - "Patient/123/_history" (for history operations)
     * @param {phenoml.fhir.UpsertRequest} request
     * @param {FhirClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.fhir.upsert("550e8400-e29b-41d4-a716-446655440000", "Patient", {
     *         "X-Phenoml-On-Behalf-Of": "Patient/550e8400-e29b-41d4-a716-446655440000",
     *         "X-Phenoml-Fhir-Provider": "550e8400-e29b-41d4-a716-446655440000:eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c...",
     *         body: {
     *             "resourceType": "Patient",
     *             "id": "123"
     *         }
     *     })
     */
    public upsert(
        fhir_provider_id: string,
        fhir_path: string,
        request: phenoml.fhir.UpsertRequest,
        requestOptions?: FhirClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(
            this.__upsert(fhir_provider_id, fhir_path, request, requestOptions),
        );
    }

    private async __upsert(
        fhir_provider_id: string,
        fhir_path: string,
        request: phenoml.fhir.UpsertRequest,
        requestOptions?: FhirClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const {
            "X-Phenoml-On-Behalf-Of": phenomlOnBehalfOf,
            "X-Phenoml-Fhir-Provider": phenomlFhirProvider,
            body: _body,
        } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Phenoml-On-Behalf-Of": phenomlOnBehalfOf,
                "X-Phenoml-Fhir-Provider": phenomlFhirProvider,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.phenomlEnvironment.Default,
                `fhir-provider/${core.url.encodePathParam(fhir_provider_id)}/fhir/${core.url.encodePathParam(fhir_path)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/fhir+json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.phenomlError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/fhir-provider/{fhir_provider_id}/fhir/{fhir_path}",
        );
    }

    /**
     * Deletes a FHIR resource from the specified provider.
     *
     * The request is proxied to the configured FHIR server with appropriate authentication headers.
     *
     * @param {string} fhir_provider_id - The ID of the FHIR provider to use. Can be either:
     *                                    - A UUID representing the provider ID
     *                                    - A provider name (legacy support - will just use the most recently updated provider with this name)
     * @param {string} fhir_path - The FHIR resource path to operate on. This follows FHIR RESTful API conventions.
     *                             Examples:
     *                             - "Patient" (for resource type operations)
     *                             - "Patient/123" (for specific resource operations)
     *                             - "Patient/123/_history" (for history operations)
     * @param {phenoml.fhir.DeleteRequest} request
     * @param {FhirClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.fhir.delete("550e8400-e29b-41d4-a716-446655440000", "Patient", {
     *         "X-Phenoml-On-Behalf-Of": "Patient/550e8400-e29b-41d4-a716-446655440000",
     *         "X-Phenoml-Fhir-Provider": "550e8400-e29b-41d4-a716-446655440000:eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c..."
     *     })
     */
    public delete(
        fhir_provider_id: string,
        fhir_path: string,
        request: phenoml.fhir.DeleteRequest = {},
        requestOptions?: FhirClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(
            this.__delete(fhir_provider_id, fhir_path, request, requestOptions),
        );
    }

    private async __delete(
        fhir_provider_id: string,
        fhir_path: string,
        request: phenoml.fhir.DeleteRequest = {},
        requestOptions?: FhirClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const { "X-Phenoml-On-Behalf-Of": phenomlOnBehalfOf, "X-Phenoml-Fhir-Provider": phenomlFhirProvider } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Phenoml-On-Behalf-Of": phenomlOnBehalfOf,
                "X-Phenoml-Fhir-Provider": phenomlFhirProvider,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.phenomlEnvironment.Default,
                `fhir-provider/${core.url.encodePathParam(fhir_provider_id)}/fhir/${core.url.encodePathParam(fhir_path)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.phenomlError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/fhir-provider/{fhir_provider_id}/fhir/{fhir_path}",
        );
    }

    /**
     * Partially updates a FHIR resource on the specified provider.
     *
     * Two body formats are supported, selected by request content type:
     * - `application/json-patch+json` — an array of JSON Patch operations as defined in RFC 6902. Each operation specifies:
     *   - `op`: The operation type (add, remove, replace, move, copy, test)
     *   - `path`: JSON Pointer to the target location in the resource
     *   - `value`: The value to use (required for add, replace, and test operations)
     * - `application/fhir+json` — a partial FHIR resource for merge-patch semantics.
     *
     * **Note:** This proxy currently forwards the request body to the upstream FHIR server with `Content-Type: application/fhir+json` regardless of the declared request content type. JSON Patch (RFC 6902) therefore only succeeds against upstream servers that accept patch arrays under `application/fhir+json`; servers that strictly enforce patch media types may reject or misinterpret it. Support for either format ultimately depends on the upstream FHIR server.
     *
     * The request is proxied to the configured FHIR server with appropriate authentication headers.
     *
     * @param {string} fhir_provider_id - The ID of the FHIR provider to use. Can be either:
     *                                    - A UUID representing the provider ID
     *                                    - A provider name (legacy support - will just use the most recently updated provider with this name)
     * @param {string} fhir_path - The FHIR resource path to operate on. This follows FHIR RESTful API conventions.
     *                             Examples:
     *                             - "Patient" (for resource type operations)
     *                             - "Patient/123" (for specific resource operations)
     *                             - "Patient/123/_history" (for history operations)
     * @param {phenoml.fhir.PatchRequest} request
     * @param {FhirClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.fhir.patch("550e8400-e29b-41d4-a716-446655440000", "Patient", {
     *         "X-Phenoml-On-Behalf-Of": "Patient/550e8400-e29b-41d4-a716-446655440000",
     *         "X-Phenoml-Fhir-Provider": "550e8400-e29b-41d4-a716-446655440000:eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c...",
     *         body: [{
     *                 op: "replace",
     *                 path: "/name/0/family",
     *                 value: "NewFamilyName"
     *             }]
     *     })
     *
     * @example
     *     await client.fhir.patch("550e8400-e29b-41d4-a716-446655440000", "Patient", {
     *         "X-Phenoml-On-Behalf-Of": "Patient/550e8400-e29b-41d4-a716-446655440000",
     *         "X-Phenoml-Fhir-Provider": "550e8400-e29b-41d4-a716-446655440000:eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c...",
     *         body: [{
     *                 op: "add",
     *                 path: "/telecom/-",
     *                 value: {
     *                     "system": "phone",
     *                     "value": "+1-555-123-4567",
     *                     "use": "home"
     *                 }
     *             }]
     *     })
     *
     * @example
     *     await client.fhir.patch("550e8400-e29b-41d4-a716-446655440000", "Patient", {
     *         "X-Phenoml-On-Behalf-Of": "Patient/550e8400-e29b-41d4-a716-446655440000",
     *         "X-Phenoml-Fhir-Provider": "550e8400-e29b-41d4-a716-446655440000:eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c...",
     *         body: [{
     *                 op: "replace",
     *                 path: "/name/0/family",
     *                 value: "Smith"
     *             }, {
     *                 op: "add",
     *                 path: "/telecom/-",
     *                 value: {
     *                     "system": "email",
     *                     "value": "john.smith@example.com"
     *                 }
     *             }, {
     *                 op: "remove",
     *                 path: "/address/0"
     *             }]
     *     })
     *
     * @example
     *     await client.fhir.patch("550e8400-e29b-41d4-a716-446655440000", "Patient", {
     *         "X-Phenoml-On-Behalf-Of": "Patient/550e8400-e29b-41d4-a716-446655440000",
     *         "X-Phenoml-Fhir-Provider": "550e8400-e29b-41d4-a716-446655440000:eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c...",
     *         body: [{
     *                 op: "test",
     *                 path: "/gender",
     *                 value: "male"
     *             }, {
     *                 op: "replace",
     *                 path: "/gender",
     *                 value: "female"
     *             }]
     *     })
     */
    public patch(
        fhir_provider_id: string,
        fhir_path: string,
        request: phenoml.fhir.PatchRequest,
        requestOptions?: FhirClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__patch(fhir_provider_id, fhir_path, request, requestOptions));
    }

    private async __patch(
        fhir_provider_id: string,
        fhir_path: string,
        request: phenoml.fhir.PatchRequest,
        requestOptions?: FhirClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const {
            "X-Phenoml-On-Behalf-Of": phenomlOnBehalfOf,
            "X-Phenoml-Fhir-Provider": phenomlFhirProvider,
            body: _body,
        } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Phenoml-On-Behalf-Of": phenomlOnBehalfOf,
                "X-Phenoml-Fhir-Provider": phenomlFhirProvider,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.phenomlEnvironment.Default,
                `fhir-provider/${core.url.encodePathParam(fhir_provider_id)}/fhir/${core.url.encodePathParam(fhir_path)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json-patch+json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.phenomlError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/fhir-provider/{fhir_provider_id}/fhir/{fhir_path}",
        );
    }

    /**
     * Executes a FHIR Bundle transaction or batch operation on the specified provider. This allows multiple FHIR resources to be processed in a single request.
     *
     * The request body should contain a valid FHIR Bundle resource with transaction or batch type.
     *
     * The request is proxied to the configured FHIR server with appropriate authentication headers.
     *
     * @param {string} fhir_provider_id - The ID of the FHIR provider to use. Can be either:
     *                                    - A UUID representing the provider ID
     *                                    - A provider name (legacy support - will just use the most recently updated provider with this name)
     * @param {phenoml.fhir.ExecuteBundleRequest} request
     * @param {FhirClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.fhir.executeBundle("550e8400-e29b-41d4-a716-446655440000", {
     *         "X-Phenoml-On-Behalf-Of": "Patient/550e8400-e29b-41d4-a716-446655440000",
     *         "X-Phenoml-Fhir-Provider": "550e8400-e29b-41d4-a716-446655440000:eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c...",
     *         body: {
     *             "resourceType": "Bundle",
     *             "type": "transaction",
     *             "entry": [
     *                 {
     *                     "request": {
     *                         "method": "POST",
     *                         "url": "Patient"
     *                     },
     *                     "resource": {
     *                         "resourceType": "Patient",
     *                         "name": [
     *                             {
     *                                 "family": "Doe",
     *                                 "given": [
     *                                     "John"
     *                                 ]
     *                             }
     *                         ]
     *                     }
     *                 },
     *                 {
     *                     "request": {
     *                         "method": "POST",
     *                         "url": "Observation"
     *                     },
     *                     "resource": {
     *                         "resourceType": "Observation",
     *                         "status": "final",
     *                         "subject": {
     *                             "reference": "Patient/123"
     *                         }
     *                     }
     *                 }
     *             ]
     *         }
     *     })
     */
    public executeBundle(
        fhir_provider_id: string,
        request: phenoml.fhir.ExecuteBundleRequest,
        requestOptions?: FhirClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__executeBundle(fhir_provider_id, request, requestOptions));
    }

    private async __executeBundle(
        fhir_provider_id: string,
        request: phenoml.fhir.ExecuteBundleRequest,
        requestOptions?: FhirClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const {
            "X-Phenoml-On-Behalf-Of": phenomlOnBehalfOf,
            "X-Phenoml-Fhir-Provider": phenomlFhirProvider,
            body: _body,
        } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Phenoml-On-Behalf-Of": phenomlOnBehalfOf,
                "X-Phenoml-Fhir-Provider": phenomlFhirProvider,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.phenomlEnvironment.Default,
                `fhir-provider/${core.url.encodePathParam(fhir_provider_id)}/fhir`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/fhir+json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.phenomlError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/fhir-provider/{fhir_provider_id}/fhir",
        );
    }
}
