// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as phenoml from "../../../../../index.js";

export declare namespace AuthConfigClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Manage authentication configurations attached to a FHIR provider.
 */
export class AuthConfigClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<AuthConfigClient.Options>;

    constructor(options: AuthConfigClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Adds a new authentication configuration to an existing FHIR provider.
     * This enables key rotation and multiple auth configurations per provider.
     *
     * Note: Sandbox providers cannot be modified.
     *
     * @param {string} fhir_provider_id - ID of the FHIR provider to add auth config to
     * @param {phenoml.fhirProvider.FhirProviderAddAuthConfigRequest} request
     * @param {AuthConfigClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link phenoml.fhirProvider.BadRequestError}
     * @throws {@link phenoml.fhirProvider.UnauthorizedError}
     * @throws {@link phenoml.fhirProvider.ForbiddenError}
     * @throws {@link phenoml.fhirProvider.NotFoundError}
     * @throws {@link phenoml.fhirProvider.InternalServerError}
     *
     * @example
     *     await client.fhirProvider.authConfig.add("1716d214-de93-43a4-aa6b-a878d864e2ad", {
     *         auth_method: "client_secret",
     *         client_id: "your-client-id",
     *         client_secret: "your-client-secret"
     *     })
     */
    public add(
        fhir_provider_id: string,
        request: phenoml.fhirProvider.FhirProviderAddAuthConfigRequest,
        requestOptions?: AuthConfigClient.RequestOptions,
    ): core.HttpResponsePromise<phenoml.fhirProvider.FhirProviderResponse> {
        return core.HttpResponsePromise.fromPromise(this.__add(fhir_provider_id, request, requestOptions));
    }

    private async __add(
        fhir_provider_id: string,
        request: phenoml.fhirProvider.FhirProviderAddAuthConfigRequest,
        requestOptions?: AuthConfigClient.RequestOptions,
    ): Promise<core.WithRawResponse<phenoml.fhirProvider.FhirProviderResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.phenomlEnvironment.Default,
                `fhir-provider/${core.url.encodePathParam(fhir_provider_id)}/add-auth-config`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as phenoml.fhirProvider.FhirProviderResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new phenoml.fhirProvider.BadRequestError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 401:
                    throw new phenoml.fhirProvider.UnauthorizedError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 403:
                    throw new phenoml.fhirProvider.ForbiddenError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 404:
                    throw new phenoml.fhirProvider.NotFoundError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 500:
                    throw new phenoml.fhirProvider.InternalServerError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.phenomlError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/fhir-provider/{fhir_provider_id}/add-auth-config",
        );
    }

    /**
     * Sets which authentication configuration should be active for a FHIR provider.
     * Only one auth config can be active at a time.
     *
     * If the specified auth config is already active, the request succeeds without
     * making any changes and returns a message indicating the config is already active.
     *
     * Note: Sandbox providers cannot be modified.
     *
     * @param {string} fhir_provider_id - ID of the FHIR provider
     * @param {phenoml.fhirProvider.FhirProviderSetActiveAuthConfigRequest} request
     * @param {AuthConfigClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link phenoml.fhirProvider.BadRequestError}
     * @throws {@link phenoml.fhirProvider.UnauthorizedError}
     * @throws {@link phenoml.fhirProvider.ForbiddenError}
     * @throws {@link phenoml.fhirProvider.NotFoundError}
     * @throws {@link phenoml.fhirProvider.InternalServerError}
     *
     * @example
     *     await client.fhirProvider.authConfig.setActive("1716d214-de93-43a4-aa6b-a878d864e2ad", {
     *         auth_config_id: "auth-config-456"
     *     })
     */
    public setActive(
        fhir_provider_id: string,
        request: phenoml.fhirProvider.FhirProviderSetActiveAuthConfigRequest,
        requestOptions?: AuthConfigClient.RequestOptions,
    ): core.HttpResponsePromise<phenoml.fhirProvider.FhirProviderResponse> {
        return core.HttpResponsePromise.fromPromise(this.__setActive(fhir_provider_id, request, requestOptions));
    }

    private async __setActive(
        fhir_provider_id: string,
        request: phenoml.fhirProvider.FhirProviderSetActiveAuthConfigRequest,
        requestOptions?: AuthConfigClient.RequestOptions,
    ): Promise<core.WithRawResponse<phenoml.fhirProvider.FhirProviderResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.phenomlEnvironment.Default,
                `fhir-provider/${core.url.encodePathParam(fhir_provider_id)}/set-active-auth-config`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as phenoml.fhirProvider.FhirProviderResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new phenoml.fhirProvider.BadRequestError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 401:
                    throw new phenoml.fhirProvider.UnauthorizedError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 403:
                    throw new phenoml.fhirProvider.ForbiddenError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 404:
                    throw new phenoml.fhirProvider.NotFoundError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 500:
                    throw new phenoml.fhirProvider.InternalServerError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.phenomlError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/fhir-provider/{fhir_provider_id}/set-active-auth-config",
        );
    }

    /**
     * Removes an authentication configuration from a FHIR provider.
     * Cannot remove the currently active auth configuration.
     *
     * Note: Sandbox providers cannot be modified.
     *
     * @param {string} fhir_provider_id - ID of the FHIR provider
     * @param {phenoml.fhirProvider.FhirProviderRemoveAuthConfigRequest} request
     * @param {AuthConfigClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link phenoml.fhirProvider.BadRequestError}
     * @throws {@link phenoml.fhirProvider.UnauthorizedError}
     * @throws {@link phenoml.fhirProvider.ForbiddenError}
     * @throws {@link phenoml.fhirProvider.NotFoundError}
     * @throws {@link phenoml.fhirProvider.InternalServerError}
     *
     * @example
     *     await client.fhirProvider.authConfig.remove("1716d214-de93-43a4-aa6b-a878d864e2ad", {
     *         auth_config_id: "auth-config-456"
     *     })
     */
    public remove(
        fhir_provider_id: string,
        request: phenoml.fhirProvider.FhirProviderRemoveAuthConfigRequest,
        requestOptions?: AuthConfigClient.RequestOptions,
    ): core.HttpResponsePromise<phenoml.fhirProvider.RemoveResponse> {
        return core.HttpResponsePromise.fromPromise(this.__remove(fhir_provider_id, request, requestOptions));
    }

    private async __remove(
        fhir_provider_id: string,
        request: phenoml.fhirProvider.FhirProviderRemoveAuthConfigRequest,
        requestOptions?: AuthConfigClient.RequestOptions,
    ): Promise<core.WithRawResponse<phenoml.fhirProvider.RemoveResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.phenomlEnvironment.Default,
                `fhir-provider/${core.url.encodePathParam(fhir_provider_id)}/remove-auth-config`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as phenoml.fhirProvider.RemoveResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new phenoml.fhirProvider.BadRequestError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 401:
                    throw new phenoml.fhirProvider.UnauthorizedError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 403:
                    throw new phenoml.fhirProvider.ForbiddenError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 404:
                    throw new phenoml.fhirProvider.NotFoundError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 500:
                    throw new phenoml.fhirProvider.InternalServerError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.phenomlError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/fhir-provider/{fhir_provider_id}/remove-auth-config",
        );
    }
}
