// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as phenoml from "../../../../../index.js";

export declare namespace ChatClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Conversational sessions with an agent.
 */
export class ChatClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ChatClient.Options>;

    constructor(options: ChatClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Send a message to an agent and receive a JSON response.
     *
     * @param {phenoml.agent.AgentChatRequest} request
     * @param {ChatClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link phenoml.agent.BadRequestError}
     * @throws {@link phenoml.agent.UnauthorizedError}
     * @throws {@link phenoml.agent.ForbiddenError}
     * @throws {@link phenoml.agent.InternalServerError}
     *
     * @example
     *     await client.agent.chat.send({
     *         "X-Phenoml-On-Behalf-Of": "Patient/550e8400-e29b-41d4-a716-446655440000",
     *         "X-Phenoml-Fhir-Provider": "550e8400-e29b-41d4-a716-446655440000:eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c...",
     *         message: "What is the patient's current condition?",
     *         session_id: "session-abc123",
     *         agent_id: "agent-123"
     *     })
     *
     * @example
     *     await client.agent.chat.send({
     *         "X-Phenoml-On-Behalf-Of": "Patient/550e8400-e29b-41d4-a716-446655440000",
     *         "X-Phenoml-Fhir-Provider": "550e8400-e29b-41d4-a716-446655440000:eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c...",
     *         message: "Create a patient record for Jane Doe, 32F, diagnosed with iron deficiency anemia. Prescribe ferrous sulfate 325mg daily.",
     *         session_id: "session-def456",
     *         agent_id: "agent-123",
     *         enhanced_reasoning: true
     *     })
     */
    public send(
        request: phenoml.agent.AgentChatRequest,
        requestOptions?: ChatClient.RequestOptions,
    ): core.HttpResponsePromise<phenoml.agent.AgentChatResponse> {
        return core.HttpResponsePromise.fromPromise(this.__send(request, requestOptions));
    }

    private async __send(
        request: phenoml.agent.AgentChatRequest,
        requestOptions?: ChatClient.RequestOptions,
    ): Promise<core.WithRawResponse<phenoml.agent.AgentChatResponse>> {
        const {
            "X-Phenoml-On-Behalf-Of": phenomlOnBehalfOf,
            "X-Phenoml-Fhir-Provider": phenomlFhirProvider,
            ..._body
        } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Phenoml-On-Behalf-Of": phenomlOnBehalfOf,
                "X-Phenoml-Fhir-Provider": phenomlFhirProvider,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.phenomlEnvironment.Default,
                "agent/chat",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as phenoml.agent.AgentChatResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new phenoml.agent.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new phenoml.agent.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new phenoml.agent.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new phenoml.agent.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.phenomlError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/agent/chat");
    }

    /**
     * Send a message to an agent and receive the response as a Server-Sent Events
     * (SSE) stream. Events include message_start, content_delta, tool_use,
     * tool_result, message_end, and error.
     */
    public stream(
        request: phenoml.agent.AgentStreamChatRequest,
        requestOptions?: ChatClient.RequestOptions,
    ): core.HttpResponsePromise<core.Stream<phenoml.agent.AgentChatStreamEvent>> {
        return core.HttpResponsePromise.fromPromise(this.__stream(request, requestOptions));
    }

    private async __stream(
        request: phenoml.agent.AgentStreamChatRequest,
        requestOptions?: ChatClient.RequestOptions,
    ): Promise<core.WithRawResponse<core.Stream<phenoml.agent.AgentChatStreamEvent>>> {
        const {
            "X-Phenoml-On-Behalf-Of": phenomlOnBehalfOf,
            "X-Phenoml-Fhir-Provider": phenomlFhirProvider,
            ..._body
        } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Phenoml-On-Behalf-Of": phenomlOnBehalfOf,
                "X-Phenoml-Fhir-Provider": phenomlFhirProvider,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)<ReadableStream>({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.phenomlEnvironment.Default,
                "agent/stream-chat",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            responseType: "sse",
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: new core.Stream({
                    stream: _response.body,
                    parse: (data) => data as any,
                    signal: requestOptions?.abortSignal,
                    eventShape: {
                        type: "sse",
                    },
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new phenoml.agent.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new phenoml.agent.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new phenoml.agent.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new phenoml.agent.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.phenomlError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/agent/stream-chat");
    }

    /**
     * Retrieves a list of chat messages for a given chat session
     *
     * @param {phenoml.agent.ListMessagesRequest} request
     * @param {ChatClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link phenoml.agent.UnauthorizedError}
     * @throws {@link phenoml.agent.ForbiddenError}
     * @throws {@link phenoml.agent.InternalServerError}
     *
     * @example
     *     await client.agent.chat.listMessages({
     *         chat_session_id: "chat_session_id",
     *         num_messages: 1,
     *         role: "user",
     *         order: "asc"
     *     })
     */
    public listMessages(
        request: phenoml.agent.ListMessagesRequest,
        requestOptions?: ChatClient.RequestOptions,
    ): core.HttpResponsePromise<phenoml.agent.ListMessagesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listMessages(request, requestOptions));
    }

    private async __listMessages(
        request: phenoml.agent.ListMessagesRequest,
        requestOptions?: ChatClient.RequestOptions,
    ): Promise<core.WithRawResponse<phenoml.agent.ListMessagesResponse>> {
        const { chat_session_id: chatSessionId, num_messages: numMessages, role, order } = request;
        const _queryParams: Record<string, unknown> = {
            chat_session_id: chatSessionId,
            num_messages: numMessages,
            role: role != null ? role : undefined,
            order: order != null ? order : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.phenomlEnvironment.Default,
                "agent/chat/messages",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as phenoml.agent.ListMessagesResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new phenoml.agent.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new phenoml.agent.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new phenoml.agent.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.phenomlError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/agent/chat/messages");
    }
}
