// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as phenoml from "../../../../../index.js";

export declare namespace ImplementationGuidesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Manage implementation guides that group custom FHIR profiles.
 */
export class ImplementationGuidesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ImplementationGuidesClient.Options>;

    constructor(options: ImplementationGuidesClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns every implementation guide on this instance — both guides that
     * have stored metadata (a profile_context) and guides referenced by at
     * least one custom profile — with the number of profiles in each.
     *
     * @param {ImplementationGuidesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link phenoml.implementationGuides.UnauthorizedError}
     * @throws {@link phenoml.implementationGuides.ForbiddenError}
     * @throws {@link phenoml.implementationGuides.InternalServerError}
     * @throws {@link errors.phenomlError}
     * @throws {@link errors.phenomlTimeoutError}
     *
     * @example
     *     await client.implementationGuides.implementationGuides.list()
     */
    public list(
        requestOptions?: ImplementationGuidesClient.RequestOptions,
    ): core.HttpResponsePromise<phenoml.implementationGuides.ImplementationGuideListResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(requestOptions));
    }

    private async __list(
        requestOptions?: ImplementationGuidesClient.RequestOptions,
    ): Promise<core.WithRawResponse<phenoml.implementationGuides.ImplementationGuideListResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.phenomlEnvironment.Default,
                "fhir/implementation-guides",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as phenoml.implementationGuides.ImplementationGuideListResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new phenoml.implementationGuides.UnauthorizedError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 403:
                    throw new phenoml.implementationGuides.ForbiddenError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 500:
                    throw new phenoml.implementationGuides.InternalServerError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.phenomlError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/fhir/implementation-guides");
    }

    /**
     * Returns a single implementation guide, including its profile_context and
     * the ids of the profiles that belong to it.
     *
     * @param {string} name - The implementation guide name.
     * @param {ImplementationGuidesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link phenoml.implementationGuides.BadRequestError}
     * @throws {@link phenoml.implementationGuides.UnauthorizedError}
     * @throws {@link phenoml.implementationGuides.ForbiddenError}
     * @throws {@link phenoml.implementationGuides.NotFoundError}
     * @throws {@link phenoml.implementationGuides.InternalServerError}
     * @throws {@link errors.phenomlError}
     * @throws {@link errors.phenomlTimeoutError}
     *
     * @example
     *     await client.implementationGuides.implementationGuides.get("acme-cardiology")
     */
    public get(
        name: string,
        requestOptions?: ImplementationGuidesClient.RequestOptions,
    ): core.HttpResponsePromise<phenoml.implementationGuides.ImplementationGuideDetail> {
        return core.HttpResponsePromise.fromPromise(this.__get(name, requestOptions));
    }

    private async __get(
        name: string,
        requestOptions?: ImplementationGuidesClient.RequestOptions,
    ): Promise<core.WithRawResponse<phenoml.implementationGuides.ImplementationGuideDetail>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.phenomlEnvironment.Default,
                `fhir/implementation-guides/${core.url.encodePathParam(name)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as phenoml.implementationGuides.ImplementationGuideDetail,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new phenoml.implementationGuides.BadRequestError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 401:
                    throw new phenoml.implementationGuides.UnauthorizedError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 403:
                    throw new phenoml.implementationGuides.ForbiddenError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 404:
                    throw new phenoml.implementationGuides.NotFoundError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 500:
                    throw new phenoml.implementationGuides.InternalServerError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.phenomlError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/fhir/implementation-guides/{name}",
        );
    }

    /**
     * Sets (or clears, with an empty value) the natural-language profile_context
     * for an implementation guide. The context is injected into the LLM during
     * resource detection to help select the right profiles from this guide.
     * It applies to every profile in the guide.
     *
     * @param {string} name - The implementation guide name.
     * @param {phenoml.implementationGuides.UpdateImplementationGuideRequest} request
     * @param {ImplementationGuidesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link phenoml.implementationGuides.BadRequestError}
     * @throws {@link phenoml.implementationGuides.UnauthorizedError}
     * @throws {@link phenoml.implementationGuides.ForbiddenError}
     * @throws {@link phenoml.implementationGuides.InternalServerError}
     * @throws {@link errors.phenomlError}
     * @throws {@link errors.phenomlTimeoutError}
     *
     * @example
     *     await client.implementationGuides.implementationGuides.update("acme-cardiology")
     */
    public update(
        name: string,
        request: phenoml.implementationGuides.UpdateImplementationGuideRequest = {},
        requestOptions?: ImplementationGuidesClient.RequestOptions,
    ): core.HttpResponsePromise<phenoml.implementationGuides.ImplementationGuideSummary> {
        return core.HttpResponsePromise.fromPromise(this.__update(name, request, requestOptions));
    }

    private async __update(
        name: string,
        request: phenoml.implementationGuides.UpdateImplementationGuideRequest = {},
        requestOptions?: ImplementationGuidesClient.RequestOptions,
    ): Promise<core.WithRawResponse<phenoml.implementationGuides.ImplementationGuideSummary>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.phenomlEnvironment.Default,
                `fhir/implementation-guides/${core.url.encodePathParam(name)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as phenoml.implementationGuides.ImplementationGuideSummary,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new phenoml.implementationGuides.BadRequestError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 401:
                    throw new phenoml.implementationGuides.UnauthorizedError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 403:
                    throw new phenoml.implementationGuides.ForbiddenError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 500:
                    throw new phenoml.implementationGuides.InternalServerError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.phenomlError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/fhir/implementation-guides/{name}",
        );
    }

    /**
     * Deletes the stored name-level metadata and any exact canonical package
     * versions beneath the guide. Legacy member profile assignments are not
     * changed.
     *
     * @param {string} name - The implementation guide name.
     * @param {ImplementationGuidesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link phenoml.implementationGuides.BadRequestError}
     * @throws {@link phenoml.implementationGuides.UnauthorizedError}
     * @throws {@link phenoml.implementationGuides.ForbiddenError}
     * @throws {@link phenoml.implementationGuides.NotFoundError}
     * @throws {@link phenoml.implementationGuides.InternalServerError}
     * @throws {@link errors.phenomlError}
     * @throws {@link errors.phenomlTimeoutError}
     *
     * @example
     *     await client.implementationGuides.implementationGuides.delete("acme-cardiology")
     */
    public delete(
        name: string,
        requestOptions?: ImplementationGuidesClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__delete(name, requestOptions));
    }

    private async __delete(
        name: string,
        requestOptions?: ImplementationGuidesClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.phenomlEnvironment.Default,
                `fhir/implementation-guides/${core.url.encodePathParam(name)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new phenoml.implementationGuides.BadRequestError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 401:
                    throw new phenoml.implementationGuides.UnauthorizedError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 403:
                    throw new phenoml.implementationGuides.ForbiddenError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 404:
                    throw new phenoml.implementationGuides.NotFoundError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 500:
                    throw new phenoml.implementationGuides.InternalServerError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.phenomlError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/fhir/implementation-guides/{name}",
        );
    }

    /**
     * Publishes an exact package beneath this guide family. PR 2 temporarily
     * permits one exact package version per guide family; publishing another
     * version returns `409 Conflict` until multi-version package support lands.
     *
     * @param {string} name
     * @param {phenoml.implementationGuides.CreateCanonicalImplementationGuideRequest} request
     * @param {ImplementationGuidesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link phenoml.implementationGuides.BadRequestError}
     * @throws {@link phenoml.implementationGuides.NotFoundError}
     * @throws {@link phenoml.implementationGuides.ConflictError}
     * @throws {@link errors.phenomlError}
     * @throws {@link errors.phenomlTimeoutError}
     *
     * @example
     *     await client.implementationGuides.implementationGuides.createVersion("name", {
     *         implementation_guide: {
     *             resourceType: "ImplementationGuide",
     *             url: "url",
     *             version: "version"
     *         },
     *         profile_refs: ["profile_refs"]
     *     })
     */
    public createVersion(
        name: string,
        request: phenoml.implementationGuides.CreateCanonicalImplementationGuideRequest,
        requestOptions?: ImplementationGuidesClient.RequestOptions,
    ): core.HttpResponsePromise<phenoml.implementationGuides.ImplementationGuideVersionDetail> {
        return core.HttpResponsePromise.fromPromise(this.__createVersion(name, request, requestOptions));
    }

    private async __createVersion(
        name: string,
        request: phenoml.implementationGuides.CreateCanonicalImplementationGuideRequest,
        requestOptions?: ImplementationGuidesClient.RequestOptions,
    ): Promise<core.WithRawResponse<phenoml.implementationGuides.ImplementationGuideVersionDetail>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.phenomlEnvironment.Default,
                `fhir/implementation-guides/${core.url.encodePathParam(name)}/versions`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as phenoml.implementationGuides.ImplementationGuideVersionDetail,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new phenoml.implementationGuides.BadRequestError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 404:
                    throw new phenoml.implementationGuides.NotFoundError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 409:
                    throw new phenoml.implementationGuides.ConflictError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.phenomlError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/fhir/implementation-guides/{name}/versions",
        );
    }

    /**
     * @param {string} name
     * @param {string} version - The authored ImplementationGuide.version. It may contain letters, numbers, and the punctuation characters `.`, `_`, `~`, `+`, and `-`; it cannot be exactly `.` or `..`.
     * @param {ImplementationGuidesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link phenoml.implementationGuides.BadRequestError}
     * @throws {@link phenoml.implementationGuides.NotFoundError}
     * @throws {@link errors.phenomlError}
     * @throws {@link errors.phenomlTimeoutError}
     *
     * @example
     *     await client.implementationGuides.implementationGuides.getVersion("name", "1.0.0")
     */
    public getVersion(
        name: string,
        version: string,
        requestOptions?: ImplementationGuidesClient.RequestOptions,
    ): core.HttpResponsePromise<phenoml.implementationGuides.ImplementationGuideVersionDetail> {
        return core.HttpResponsePromise.fromPromise(this.__getVersion(name, version, requestOptions));
    }

    private async __getVersion(
        name: string,
        version: string,
        requestOptions?: ImplementationGuidesClient.RequestOptions,
    ): Promise<core.WithRawResponse<phenoml.implementationGuides.ImplementationGuideVersionDetail>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.phenomlEnvironment.Default,
                `fhir/implementation-guides/${core.url.encodePathParam(name)}/versions/${core.url.encodePathParam(version)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as phenoml.implementationGuides.ImplementationGuideVersionDetail,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new phenoml.implementationGuides.BadRequestError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 404:
                    throw new phenoml.implementationGuides.NotFoundError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.phenomlError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/fhir/implementation-guides/{name}/versions/{version}",
        );
    }
}
