// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as phenoml from "../../../../../index.js";

export declare namespace CodeSystemsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Manage custom medical code systems used by the extractor.
 */
export class CodeSystemsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<CodeSystemsClient.Options>;

    constructor(options: CodeSystemsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Upload a custom medical code system with codes and descriptions for use in code extraction. Requires a paid plan.
     * Returns 202 immediately; embedding generation runs asynchronously. Poll
     * GET /construe/codes/systems/{codesystem}?version={version} to check when status
     * transitions from "processing" to "ready" or "failed".
     *
     * @param {phenoml.construe.UploadRequest} request
     * @param {CodeSystemsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link phenoml.construe.BadRequestError}
     * @throws {@link phenoml.construe.UnauthorizedError}
     * @throws {@link phenoml.construe.ForbiddenError}
     * @throws {@link phenoml.construe.ConflictError}
     * @throws {@link phenoml.construe.FailedDependencyError}
     * @throws {@link phenoml.construe.InternalServerError}
     *
     * @example
     *     await client.construe.codeSystems.upload({
     *         name: "CUSTOM_CODES",
     *         version: "1.0",
     *         format: "json",
     *         codes: [{
     *                 code: "X001",
     *                 description: "Example custom code 1"
     *             }, {
     *                 code: "X002",
     *                 description: "Example custom code 2"
     *             }]
     *     })
     *
     * @example
     *     await client.construe.codeSystems.upload({
     *         name: "CUSTOM_CODES",
     *         version: "1.0",
     *         format: "csv",
     *         file: "Y29kZSxkZXNjcmlwdGlvbgpYMDAxLEV4YW1wbGUgY3VzdG9tIGNvZGUgMQo=",
     *         code_col: "code",
     *         desc_col: "description"
     *     })
     */
    public upload(
        request: phenoml.construe.UploadRequest,
        requestOptions?: CodeSystemsClient.RequestOptions,
    ): core.HttpResponsePromise<phenoml.construe.UploadResponse> {
        return core.HttpResponsePromise.fromPromise(this.__upload(request, requestOptions));
    }

    private async __upload(
        request: phenoml.construe.UploadRequest,
        requestOptions?: CodeSystemsClient.RequestOptions,
    ): Promise<core.WithRawResponse<phenoml.construe.UploadResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.phenomlEnvironment.Default,
                "construe/upload",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as phenoml.construe.UploadResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new phenoml.construe.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new phenoml.construe.UnauthorizedError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 403:
                    throw new phenoml.construe.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 409:
                    throw new phenoml.construe.ConflictError(_response.error.body as unknown, _response.rawResponse);
                case 424:
                    throw new phenoml.construe.FailedDependencyError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 500:
                    throw new phenoml.construe.InternalServerError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.phenomlError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/construe/upload");
    }

    /**
     * Returns the terminology server's catalog of available code systems, including both built-in standard terminologies and custom uploaded systems.
     *
     * @param {CodeSystemsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link phenoml.construe.UnauthorizedError}
     * @throws {@link phenoml.construe.InternalServerError}
     *
     * @example
     *     await client.construe.codeSystems.list()
     */
    public list(
        requestOptions?: CodeSystemsClient.RequestOptions,
    ): core.HttpResponsePromise<phenoml.construe.ListCodeSystemsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(requestOptions));
    }

    private async __list(
        requestOptions?: CodeSystemsClient.RequestOptions,
    ): Promise<core.WithRawResponse<phenoml.construe.ListCodeSystemsResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.phenomlEnvironment.Default,
                "construe/codes/systems",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as phenoml.construe.ListCodeSystemsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new phenoml.construe.UnauthorizedError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 500:
                    throw new phenoml.construe.InternalServerError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.phenomlError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/construe/codes/systems");
    }

    /**
     * Returns full metadata for a single code system, including timestamps and builtin status.
     *
     * @param {string} codesystem - Code system name (e.g., "ICD-10-CM", "SNOMED_CT_US_LITE")
     * @param {phenoml.construe.FindRequest} request
     * @param {CodeSystemsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link phenoml.construe.BadRequestError}
     * @throws {@link phenoml.construe.UnauthorizedError}
     * @throws {@link phenoml.construe.NotFoundError}
     * @throws {@link phenoml.construe.InternalServerError}
     *
     * @example
     *     await client.construe.codeSystems.find("ICD-10-CM", {
     *         version: "2025"
     *     })
     */
    public find(
        codesystem: string,
        request: phenoml.construe.FindRequest = {},
        requestOptions?: CodeSystemsClient.RequestOptions,
    ): core.HttpResponsePromise<phenoml.construe.GetCodeSystemDetailResponse> {
        return core.HttpResponsePromise.fromPromise(this.__find(codesystem, request, requestOptions));
    }

    private async __find(
        codesystem: string,
        request: phenoml.construe.FindRequest = {},
        requestOptions?: CodeSystemsClient.RequestOptions,
    ): Promise<core.WithRawResponse<phenoml.construe.GetCodeSystemDetailResponse>> {
        const { version } = request;
        const _queryParams: Record<string, unknown> = {
            version,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.phenomlEnvironment.Default,
                `construe/codes/systems/${core.url.encodePathParam(codesystem)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as phenoml.construe.GetCodeSystemDetailResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new phenoml.construe.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new phenoml.construe.UnauthorizedError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 404:
                    throw new phenoml.construe.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new phenoml.construe.InternalServerError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.phenomlError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/construe/codes/systems/{codesystem}",
        );
    }

    /**
     * Deletes a custom (non-builtin) code system and all its codes. Builtin systems cannot be deleted.
     * Only available on dedicated instances. Large systems may take up to a minute to delete.
     *
     * @param {string} codesystem - Code system name
     * @param {phenoml.construe.DeleteRequest} request
     * @param {CodeSystemsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link phenoml.construe.BadRequestError}
     * @throws {@link phenoml.construe.UnauthorizedError}
     * @throws {@link phenoml.construe.ForbiddenError}
     * @throws {@link phenoml.construe.NotFoundError}
     * @throws {@link phenoml.construe.InternalServerError}
     *
     * @example
     *     await client.construe.codeSystems.delete("CUSTOM_CODES", {
     *         version: "version"
     *     })
     */
    public delete(
        codesystem: string,
        request: phenoml.construe.DeleteRequest = {},
        requestOptions?: CodeSystemsClient.RequestOptions,
    ): core.HttpResponsePromise<phenoml.construe.DeleteCodeSystemResponse> {
        return core.HttpResponsePromise.fromPromise(this.__delete(codesystem, request, requestOptions));
    }

    private async __delete(
        codesystem: string,
        request: phenoml.construe.DeleteRequest = {},
        requestOptions?: CodeSystemsClient.RequestOptions,
    ): Promise<core.WithRawResponse<phenoml.construe.DeleteCodeSystemResponse>> {
        const { version } = request;
        const _queryParams: Record<string, unknown> = {
            version,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.phenomlEnvironment.Default,
                `construe/codes/systems/${core.url.encodePathParam(codesystem)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as phenoml.construe.DeleteCodeSystemResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new phenoml.construe.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new phenoml.construe.UnauthorizedError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 403:
                    throw new phenoml.construe.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new phenoml.construe.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new phenoml.construe.InternalServerError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.phenomlError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/construe/codes/systems/{codesystem}",
        );
    }

    /**
     * Exports a custom (non-builtin) code system as a JSON file compatible with the upload format.
     * The exported file can be re-uploaded directly via POST /construe/upload with format "json".
     * Only available on dedicated instances. Builtin systems cannot be exported.
     *
     * @param {string} codesystem - Code system name
     * @param {phenoml.construe.ExportRequest} request
     * @param {CodeSystemsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link phenoml.construe.BadRequestError}
     * @throws {@link phenoml.construe.UnauthorizedError}
     * @throws {@link phenoml.construe.ForbiddenError}
     * @throws {@link phenoml.construe.NotFoundError}
     * @throws {@link phenoml.construe.ConflictError}
     * @throws {@link phenoml.construe.FailedDependencyError}
     * @throws {@link phenoml.construe.InternalServerError}
     *
     * @example
     *     await client.construe.codeSystems.export("CUSTOM_CODES", {
     *         version: "version"
     *     })
     */
    public export(
        codesystem: string,
        request: phenoml.construe.ExportRequest = {},
        requestOptions?: CodeSystemsClient.RequestOptions,
    ): core.HttpResponsePromise<phenoml.construe.ExportCodeSystemResponse> {
        return core.HttpResponsePromise.fromPromise(this.__export(codesystem, request, requestOptions));
    }

    private async __export(
        codesystem: string,
        request: phenoml.construe.ExportRequest = {},
        requestOptions?: CodeSystemsClient.RequestOptions,
    ): Promise<core.WithRawResponse<phenoml.construe.ExportCodeSystemResponse>> {
        const { version } = request;
        const _queryParams: Record<string, unknown> = {
            version,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.phenomlEnvironment.Default,
                `construe/codes/systems/${core.url.encodePathParam(codesystem)}/export`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as phenoml.construe.ExportCodeSystemResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new phenoml.construe.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new phenoml.construe.UnauthorizedError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 403:
                    throw new phenoml.construe.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new phenoml.construe.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 409:
                    throw new phenoml.construe.ConflictError(_response.error.body as unknown, _response.rawResponse);
                case 424:
                    throw new phenoml.construe.FailedDependencyError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 500:
                    throw new phenoml.construe.InternalServerError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.phenomlError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/construe/codes/systems/{codesystem}/export",
        );
    }
}
