// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { toJson } from "../../../../core/json.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as phenoml from "../../../index.js";

export declare namespace Lang2FhirBatchClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class Lang2FhirBatchClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<Lang2FhirBatchClient.Options>;

    constructor(options: Lang2FhirBatchClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns a page of the instance's batch jobs, newest first, without
     * per-job counts. Jobs are shared across the instance's credentials, so
     * this lists every batch job on the instance, not just the calling
     * credential's.
     *
     * @param {phenoml.lang2FhirBatch.ListRequest} request
     * @param {Lang2FhirBatchClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link phenoml.lang2FhirBatch.BadRequestError}
     * @throws {@link phenoml.lang2FhirBatch.UnauthorizedError}
     * @throws {@link phenoml.lang2FhirBatch.ClientClosedRequestError}
     * @throws {@link phenoml.lang2FhirBatch.InternalServerError}
     * @throws {@link phenoml.lang2FhirBatch.GatewayTimeoutError}
     *
     * @example
     *     await client.lang2FhirBatch.list({
     *         cursor: "cursor",
     *         limit: 1
     *     })
     */
    public list(
        request: phenoml.lang2FhirBatch.ListRequest = {},
        requestOptions?: Lang2FhirBatchClient.RequestOptions,
    ): core.HttpResponsePromise<phenoml.lang2FhirBatch.JobListResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: phenoml.lang2FhirBatch.ListRequest = {},
        requestOptions?: Lang2FhirBatchClient.RequestOptions,
    ): Promise<core.WithRawResponse<phenoml.lang2FhirBatch.JobListResponse>> {
        const { cursor, limit } = request;
        const _queryParams: Record<string, unknown> = {
            cursor,
            limit,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.phenomlEnvironment.Default,
                "lang2fhir/batch",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as phenoml.lang2FhirBatch.JobListResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new phenoml.lang2FhirBatch.BadRequestError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 401:
                    throw new phenoml.lang2FhirBatch.UnauthorizedError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 499:
                    throw new phenoml.lang2FhirBatch.ClientClosedRequestError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 500:
                    throw new phenoml.lang2FhirBatch.InternalServerError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 504:
                    throw new phenoml.lang2FhirBatch.GatewayTimeoutError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.phenomlError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/lang2fhir/batch");
    }

    /**
     * Opens an empty batch job. Items arrive on later upload calls and the set
     * is sealed at finalize.
     *
     * Supplying `request_id` makes the create idempotent on that token: a
     * retried submit whose response was lost returns the original job rather
     * than opening a second one. This dedupe is scoped to the calling
     * credential.
     *
     * An instance may hold at most 4 active (pending or processing) jobs at
     * once; a create past that limit returns `409`. The limit is instance-wide
     * — jobs are shared across the instance's credentials — so another
     * credential's jobs count against it.
     *
     * @param {phenoml.lang2FhirBatch.CreateBatchRequest} request
     * @param {Lang2FhirBatchClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link phenoml.lang2FhirBatch.BadRequestError}
     * @throws {@link phenoml.lang2FhirBatch.UnauthorizedError}
     * @throws {@link phenoml.lang2FhirBatch.ConflictError}
     * @throws {@link phenoml.lang2FhirBatch.ClientClosedRequestError}
     * @throws {@link phenoml.lang2FhirBatch.InternalServerError}
     * @throws {@link phenoml.lang2FhirBatch.GatewayTimeoutError}
     *
     * @example
     *     await client.lang2FhirBatch.create({
     *         request_id: "submit-2025-09-02-batch-001"
     *     })
     */
    public create(
        request: phenoml.lang2FhirBatch.CreateBatchRequest = {},
        requestOptions?: Lang2FhirBatchClient.RequestOptions,
    ): core.HttpResponsePromise<phenoml.lang2FhirBatch.BatchJob> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: phenoml.lang2FhirBatch.CreateBatchRequest = {},
        requestOptions?: Lang2FhirBatchClient.RequestOptions,
    ): Promise<core.WithRawResponse<phenoml.lang2FhirBatch.BatchJob>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.phenomlEnvironment.Default,
                "lang2fhir/batch",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as phenoml.lang2FhirBatch.BatchJob, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new phenoml.lang2FhirBatch.BadRequestError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 401:
                    throw new phenoml.lang2FhirBatch.UnauthorizedError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 409:
                    throw new phenoml.lang2FhirBatch.ConflictError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 499:
                    throw new phenoml.lang2FhirBatch.ClientClosedRequestError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 500:
                    throw new phenoml.lang2FhirBatch.InternalServerError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 504:
                    throw new phenoml.lang2FhirBatch.GatewayTimeoutError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.phenomlError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/lang2fhir/batch");
    }

    /**
     * Stores one item of a job from a multipart upload. A batch's items arrive
     * one per request. The item carries **either** a `document` extraction
     * (whose input file rides as raw bytes in the `file` part) **or** a
     * `create` extraction (JSON only, no file).
     *
     * The upload enforces these rules:
     * - Set **exactly one** of `document` or `create`. Setting both, or
     *   neither, is a `400`.
     * - When `document` is set, `file` is **required** — it supplies the
     *   document's binary content (PDF or image).
     * - When `create` is set, `file` is **forbidden** — a create item carries
     *   no file.
     * - `document` and `create` must each be a JSON **object**.
     *
     * Only the item's structure is checked here: the fields inside `document`
     * or `create` are not validated at upload. A body that is well-formed JSON
     * but not a valid request for its endpoint is still accepted with `202`
     * and fails later during processing, recorded as an item `error`. A
     * wrong-typed field the endpoint cannot decode fails as `invalid_input`; a
     * body that decodes but the pipeline rejects (for example, a missing
     * required field) fails as `processing_failed`.
     *
     * Supplying `request_id` makes the upload idempotent on that token. A
     * re-upload under the same token overwrites the same item rather than
     * adding a second, so a client that lost an upload's response can safely
     * re-send it. The response's `deduplicated` is `true` only when the
     * re-uploaded payload matches the one already stored; a same-token upload
     * with a changed payload overwrites in place and returns `false`.
     *
     * Set a `request_id` on **every** upload: re-sending under the same token
     * is the only way to repair a lost or incomplete upload, including the one
     * a finalize `409` reports. Without one, a re-send adds a new item instead
     * of replacing the missing one, and the job cannot be finalized.
     *
     * Uploads are rejected once the job has been finalized (`409`), once it
     * holds its 500-item limit (`409`), or when the item is too large (`413` —
     * see the raw-file limit in the API description).
     *
     * @param {string} job_id
     * @param {phenoml.lang2FhirBatch.UploadItemRequest} request
     * @param {Lang2FhirBatchClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link phenoml.lang2FhirBatch.BadRequestError}
     * @throws {@link phenoml.lang2FhirBatch.UnauthorizedError}
     * @throws {@link phenoml.lang2FhirBatch.NotFoundError}
     * @throws {@link phenoml.lang2FhirBatch.ConflictError}
     * @throws {@link phenoml.lang2FhirBatch.ContentTooLargeError}
     * @throws {@link phenoml.lang2FhirBatch.ClientClosedRequestError}
     * @throws {@link phenoml.lang2FhirBatch.InternalServerError}
     * @throws {@link phenoml.lang2FhirBatch.GatewayTimeoutError}
     *
     * @example
     *     import { createReadStream } from "fs";
     *     await client.lang2FhirBatch.uploadItem("job_id", {})
     */
    public uploadItem(
        job_id: string,
        request: phenoml.lang2FhirBatch.UploadItemRequest,
        requestOptions?: Lang2FhirBatchClient.RequestOptions,
    ): core.HttpResponsePromise<phenoml.lang2FhirBatch.UploadItemResponse> {
        return core.HttpResponsePromise.fromPromise(this.__uploadItem(job_id, request, requestOptions));
    }

    private async __uploadItem(
        job_id: string,
        request: phenoml.lang2FhirBatch.UploadItemRequest,
        requestOptions?: Lang2FhirBatchClient.RequestOptions,
    ): Promise<core.WithRawResponse<phenoml.lang2FhirBatch.UploadItemResponse>> {
        const _body = await core.newFormData();
        if (request.document != null) {
            _body.append("document", toJson(request.document));
        }

        if (request.create != null) {
            _body.append("create", toJson(request.create));
        }

        if (request.file != null) {
            await _body.appendFile("file", request.file);
        }

        if (request.request_id != null) {
            _body.append("request_id", request.request_id);
        }

        if (request.id != null) {
            _body.append("id", request.id);
        }

        const _maybeEncodedRequest = await _body.getRequest();
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ ..._maybeEncodedRequest.headers }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.phenomlEnvironment.Default,
                `lang2fhir/batch/${core.url.encodePathParam(job_id)}/items`,
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "file",
            duplex: _maybeEncodedRequest.duplex,
            body: _maybeEncodedRequest.body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as phenoml.lang2FhirBatch.UploadItemResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new phenoml.lang2FhirBatch.BadRequestError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 401:
                    throw new phenoml.lang2FhirBatch.UnauthorizedError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 404:
                    throw new phenoml.lang2FhirBatch.NotFoundError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 409:
                    throw new phenoml.lang2FhirBatch.ConflictError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 413:
                    throw new phenoml.lang2FhirBatch.ContentTooLargeError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 499:
                    throw new phenoml.lang2FhirBatch.ClientClosedRequestError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 500:
                    throw new phenoml.lang2FhirBatch.InternalServerError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 504:
                    throw new phenoml.lang2FhirBatch.GatewayTimeoutError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.phenomlError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/lang2fhir/batch/{job_id}/items",
        );
    }

    /**
     * Seals the job's item set and starts processing. Takes no request body.
     * Finalize is idempotent: a retried finalize succeeds again.
     *
     * If a previous upload did not complete, finalize returns a `409`; re-send
     * the missing upload (with the same `request_id`), then finalize.
     * Finalizing a job with no items is a `400`.
     *
     * @param {string} job_id
     * @param {Lang2FhirBatchClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link phenoml.lang2FhirBatch.BadRequestError}
     * @throws {@link phenoml.lang2FhirBatch.UnauthorizedError}
     * @throws {@link phenoml.lang2FhirBatch.NotFoundError}
     * @throws {@link phenoml.lang2FhirBatch.ConflictError}
     * @throws {@link phenoml.lang2FhirBatch.ClientClosedRequestError}
     * @throws {@link phenoml.lang2FhirBatch.InternalServerError}
     * @throws {@link phenoml.lang2FhirBatch.GatewayTimeoutError}
     *
     * @example
     *     await client.lang2FhirBatch.finalize("job_id")
     */
    public finalize(
        job_id: string,
        requestOptions?: Lang2FhirBatchClient.RequestOptions,
    ): core.HttpResponsePromise<phenoml.lang2FhirBatch.BatchJob> {
        return core.HttpResponsePromise.fromPromise(this.__finalize(job_id, requestOptions));
    }

    private async __finalize(
        job_id: string,
        requestOptions?: Lang2FhirBatchClient.RequestOptions,
    ): Promise<core.WithRawResponse<phenoml.lang2FhirBatch.BatchJob>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.phenomlEnvironment.Default,
                `lang2fhir/batch/${core.url.encodePathParam(job_id)}/finalize`,
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as phenoml.lang2FhirBatch.BatchJob, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new phenoml.lang2FhirBatch.BadRequestError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 401:
                    throw new phenoml.lang2FhirBatch.UnauthorizedError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 404:
                    throw new phenoml.lang2FhirBatch.NotFoundError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 409:
                    throw new phenoml.lang2FhirBatch.ConflictError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 499:
                    throw new phenoml.lang2FhirBatch.ClientClosedRequestError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 500:
                    throw new phenoml.lang2FhirBatch.InternalServerError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 504:
                    throw new phenoml.lang2FhirBatch.GatewayTimeoutError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.phenomlError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/lang2fhir/batch/{job_id}/finalize",
        );
    }

    /**
     * Returns a job's record, its per-status item counts, and one page of
     * per-item statuses.
     *
     * Items are listed in a stable order that is not upload order and is the
     * same across pages. Match each entry to your own records by its `id`
     * (your correlation label) or `item_id` (from the upload response),
     * never by position.
     *
     * @param {string} job_id
     * @param {phenoml.lang2FhirBatch.GetRequest} request
     * @param {Lang2FhirBatchClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link phenoml.lang2FhirBatch.BadRequestError}
     * @throws {@link phenoml.lang2FhirBatch.UnauthorizedError}
     * @throws {@link phenoml.lang2FhirBatch.NotFoundError}
     * @throws {@link phenoml.lang2FhirBatch.ClientClosedRequestError}
     * @throws {@link phenoml.lang2FhirBatch.InternalServerError}
     * @throws {@link phenoml.lang2FhirBatch.GatewayTimeoutError}
     *
     * @example
     *     await client.lang2FhirBatch.get("job_id", {
     *         cursor: "cursor",
     *         limit: 1
     *     })
     */
    public get(
        job_id: string,
        request: phenoml.lang2FhirBatch.GetRequest = {},
        requestOptions?: Lang2FhirBatchClient.RequestOptions,
    ): core.HttpResponsePromise<phenoml.lang2FhirBatch.JobDetailResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(job_id, request, requestOptions));
    }

    private async __get(
        job_id: string,
        request: phenoml.lang2FhirBatch.GetRequest = {},
        requestOptions?: Lang2FhirBatchClient.RequestOptions,
    ): Promise<core.WithRawResponse<phenoml.lang2FhirBatch.JobDetailResponse>> {
        const { cursor, limit } = request;
        const _queryParams: Record<string, unknown> = {
            cursor,
            limit,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.phenomlEnvironment.Default,
                `lang2fhir/batch/${core.url.encodePathParam(job_id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as phenoml.lang2FhirBatch.JobDetailResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new phenoml.lang2FhirBatch.BadRequestError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 401:
                    throw new phenoml.lang2FhirBatch.UnauthorizedError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 404:
                    throw new phenoml.lang2FhirBatch.NotFoundError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 499:
                    throw new phenoml.lang2FhirBatch.ClientClosedRequestError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 500:
                    throw new phenoml.lang2FhirBatch.InternalServerError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 504:
                    throw new phenoml.lang2FhirBatch.GatewayTimeoutError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.phenomlError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/lang2fhir/batch/{job_id}");
    }

    /**
     * A lighter status page. Returns the same per-item status entries as
     * `GET /lang2fhir/batch/{job_id}`, but without the job record or counts,
     * and the entries carry `result_size` rather than any result content. Use
     * each entry's `item_id` to fetch that item's result from
     * `GET /lang2fhir/batch/{job_id}/results/{item_id}`.
     *
     * Entries are listed in a stable order that is not upload order and is
     * the same across pages. Match each entry to your own records by its `id`
     * (your correlation label) or `item_id` (from the upload response),
     * never by position.
     *
     * @param {string} job_id
     * @param {phenoml.lang2FhirBatch.GetResultsRequest} request
     * @param {Lang2FhirBatchClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link phenoml.lang2FhirBatch.BadRequestError}
     * @throws {@link phenoml.lang2FhirBatch.UnauthorizedError}
     * @throws {@link phenoml.lang2FhirBatch.NotFoundError}
     * @throws {@link phenoml.lang2FhirBatch.ClientClosedRequestError}
     * @throws {@link phenoml.lang2FhirBatch.InternalServerError}
     * @throws {@link phenoml.lang2FhirBatch.GatewayTimeoutError}
     *
     * @example
     *     await client.lang2FhirBatch.getResults("job_id", {
     *         cursor: "cursor",
     *         limit: 1
     *     })
     */
    public getResults(
        job_id: string,
        request: phenoml.lang2FhirBatch.GetResultsRequest = {},
        requestOptions?: Lang2FhirBatchClient.RequestOptions,
    ): core.HttpResponsePromise<phenoml.lang2FhirBatch.ResultsPageResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getResults(job_id, request, requestOptions));
    }

    private async __getResults(
        job_id: string,
        request: phenoml.lang2FhirBatch.GetResultsRequest = {},
        requestOptions?: Lang2FhirBatchClient.RequestOptions,
    ): Promise<core.WithRawResponse<phenoml.lang2FhirBatch.ResultsPageResponse>> {
        const { cursor, limit } = request;
        const _queryParams: Record<string, unknown> = {
            cursor,
            limit,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.phenomlEnvironment.Default,
                `lang2fhir/batch/${core.url.encodePathParam(job_id)}/results`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as phenoml.lang2FhirBatch.ResultsPageResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new phenoml.lang2FhirBatch.BadRequestError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 401:
                    throw new phenoml.lang2FhirBatch.UnauthorizedError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 404:
                    throw new phenoml.lang2FhirBatch.NotFoundError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 499:
                    throw new phenoml.lang2FhirBatch.ClientClosedRequestError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 500:
                    throw new phenoml.lang2FhirBatch.InternalServerError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 504:
                    throw new phenoml.lang2FhirBatch.GatewayTimeoutError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.phenomlError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/lang2fhir/batch/{job_id}/results",
        );
    }

    /**
     * Streams one item's stored result bytes verbatim as `application/json`.
     * The body is the response the item's synchronous multi endpoint would have
     * returned — a `DocumentMultiResponse` for a document item or a
     * `CreateMultiResponse` for a create item.
     *
     * Only a succeeded item has a result: an item that has not succeeded
     * (pending, processing, or failed) is a `409`, and a result that has
     * expired is a `404`.
     *
     * @param {string} job_id
     * @param {string} item_id
     * @param {Lang2FhirBatchClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link phenoml.lang2FhirBatch.BadRequestError}
     * @throws {@link phenoml.lang2FhirBatch.UnauthorizedError}
     * @throws {@link phenoml.lang2FhirBatch.NotFoundError}
     * @throws {@link phenoml.lang2FhirBatch.ConflictError}
     * @throws {@link phenoml.lang2FhirBatch.ClientClosedRequestError}
     * @throws {@link phenoml.lang2FhirBatch.InternalServerError}
     * @throws {@link phenoml.lang2FhirBatch.GatewayTimeoutError}
     *
     * @example
     *     await client.lang2FhirBatch.getResult("job_id", "item_id")
     */
    public getResult(
        job_id: string,
        item_id: string,
        requestOptions?: Lang2FhirBatchClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, unknown>> {
        return core.HttpResponsePromise.fromPromise(this.__getResult(job_id, item_id, requestOptions));
    }

    private async __getResult(
        job_id: string,
        item_id: string,
        requestOptions?: Lang2FhirBatchClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, unknown>>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.phenomlEnvironment.Default,
                `lang2fhir/batch/${core.url.encodePathParam(job_id)}/results/${core.url.encodePathParam(item_id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, unknown>, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new phenoml.lang2FhirBatch.BadRequestError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 401:
                    throw new phenoml.lang2FhirBatch.UnauthorizedError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 404:
                    throw new phenoml.lang2FhirBatch.NotFoundError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 409:
                    throw new phenoml.lang2FhirBatch.ConflictError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 499:
                    throw new phenoml.lang2FhirBatch.ClientClosedRequestError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 500:
                    throw new phenoml.lang2FhirBatch.InternalServerError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 504:
                    throw new phenoml.lang2FhirBatch.GatewayTimeoutError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.phenomlError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/lang2fhir/batch/{job_id}/results/{item_id}",
        );
    }
}
