// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as PhenoML from "../../../index.js";
import { PromptsClient } from "../resources/prompts/client/Client.js";

export declare namespace AgentClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class AgentClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<AgentClient.Options>;
    protected _prompts: PromptsClient | undefined;

    constructor(options: AgentClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get prompts(): PromptsClient {
        return (this._prompts ??= new PromptsClient(this._options));
    }

    /**
     * Creates a new PhenoAgent with specified configuration
     *
     * @param {PhenoML.agent.AgentCreateRequest} request
     * @param {AgentClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link PhenoML.agent.BadRequestError}
     * @throws {@link PhenoML.agent.UnauthorizedError}
     * @throws {@link PhenoML.agent.ForbiddenError}
     * @throws {@link PhenoML.agent.InternalServerError}
     *
     * @example
     *     await client.agent.create({
     *         name: "name",
     *         prompts: ["prompt_123", "prompt_456"],
     *         provider: "provider"
     *     })
     */
    public create(
        request: PhenoML.agent.AgentCreateRequest,
        requestOptions?: AgentClient.RequestOptions,
    ): core.HttpResponsePromise<PhenoML.agent.AgentResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: PhenoML.agent.AgentCreateRequest,
        requestOptions?: AgentClient.RequestOptions,
    ): Promise<core.WithRawResponse<PhenoML.agent.AgentResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PhenoMLEnvironment.Default,
                "agent/create",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as PhenoML.agent.AgentResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new PhenoML.agent.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new PhenoML.agent.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new PhenoML.agent.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new PhenoML.agent.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.PhenoMLError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/agent/create");
    }

    /**
     * Retrieves a list of PhenoAgents belonging to the authenticated user
     *
     * @param {PhenoML.agent.AgentListRequest} request
     * @param {AgentClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link PhenoML.agent.UnauthorizedError}
     * @throws {@link PhenoML.agent.ForbiddenError}
     * @throws {@link PhenoML.agent.InternalServerError}
     *
     * @example
     *     await client.agent.list({
     *         tags: "tags"
     *     })
     */
    public list(
        request: PhenoML.agent.AgentListRequest = {},
        requestOptions?: AgentClient.RequestOptions,
    ): core.HttpResponsePromise<PhenoML.agent.AgentListResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: PhenoML.agent.AgentListRequest = {},
        requestOptions?: AgentClient.RequestOptions,
    ): Promise<core.WithRawResponse<PhenoML.agent.AgentListResponse>> {
        const { tags } = request;
        const _queryParams: Record<string, unknown> = {
            tags,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PhenoMLEnvironment.Default,
                "agent/list",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as PhenoML.agent.AgentListResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new PhenoML.agent.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new PhenoML.agent.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new PhenoML.agent.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.PhenoMLError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/agent/list");
    }

    /**
     * Retrieves a specific agent by its ID
     *
     * @param {string} id - Agent ID
     * @param {AgentClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link PhenoML.agent.UnauthorizedError}
     * @throws {@link PhenoML.agent.ForbiddenError}
     * @throws {@link PhenoML.agent.NotFoundError}
     * @throws {@link PhenoML.agent.InternalServerError}
     *
     * @example
     *     await client.agent.get("id")
     */
    public get(
        id: string,
        requestOptions?: AgentClient.RequestOptions,
    ): core.HttpResponsePromise<PhenoML.agent.AgentResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(id, requestOptions));
    }

    private async __get(
        id: string,
        requestOptions?: AgentClient.RequestOptions,
    ): Promise<core.WithRawResponse<PhenoML.agent.AgentResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PhenoMLEnvironment.Default,
                `agent/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as PhenoML.agent.AgentResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new PhenoML.agent.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new PhenoML.agent.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new PhenoML.agent.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new PhenoML.agent.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.PhenoMLError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/agent/{id}");
    }

    /**
     * Updates an existing agent's configuration
     *
     * @param {string} id - Agent ID
     * @param {PhenoML.agent.AgentCreateRequest} request
     * @param {AgentClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link PhenoML.agent.BadRequestError}
     * @throws {@link PhenoML.agent.UnauthorizedError}
     * @throws {@link PhenoML.agent.ForbiddenError}
     * @throws {@link PhenoML.agent.NotFoundError}
     * @throws {@link PhenoML.agent.InternalServerError}
     *
     * @example
     *     await client.agent.update("id", {
     *         name: "name",
     *         prompts: ["prompt_123", "prompt_456"],
     *         provider: "provider"
     *     })
     */
    public update(
        id: string,
        request: PhenoML.agent.AgentCreateRequest,
        requestOptions?: AgentClient.RequestOptions,
    ): core.HttpResponsePromise<PhenoML.agent.AgentResponse> {
        return core.HttpResponsePromise.fromPromise(this.__update(id, request, requestOptions));
    }

    private async __update(
        id: string,
        request: PhenoML.agent.AgentCreateRequest,
        requestOptions?: AgentClient.RequestOptions,
    ): Promise<core.WithRawResponse<PhenoML.agent.AgentResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PhenoMLEnvironment.Default,
                `agent/${core.url.encodePathParam(id)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as PhenoML.agent.AgentResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new PhenoML.agent.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new PhenoML.agent.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new PhenoML.agent.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new PhenoML.agent.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new PhenoML.agent.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.PhenoMLError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PUT", "/agent/{id}");
    }

    /**
     * Deletes an existing agent
     *
     * @param {string} id - Agent ID
     * @param {AgentClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link PhenoML.agent.UnauthorizedError}
     * @throws {@link PhenoML.agent.ForbiddenError}
     * @throws {@link PhenoML.agent.NotFoundError}
     * @throws {@link PhenoML.agent.InternalServerError}
     *
     * @example
     *     await client.agent.delete("id")
     */
    public delete(
        id: string,
        requestOptions?: AgentClient.RequestOptions,
    ): core.HttpResponsePromise<PhenoML.agent.AgentDeleteResponse> {
        return core.HttpResponsePromise.fromPromise(this.__delete(id, requestOptions));
    }

    private async __delete(
        id: string,
        requestOptions?: AgentClient.RequestOptions,
    ): Promise<core.WithRawResponse<PhenoML.agent.AgentDeleteResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PhenoMLEnvironment.Default,
                `agent/${core.url.encodePathParam(id)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as PhenoML.agent.AgentDeleteResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new PhenoML.agent.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new PhenoML.agent.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new PhenoML.agent.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new PhenoML.agent.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.PhenoMLError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/agent/{id}");
    }

    /**
     * Patches an existing agent's configuration
     *
     * @param {string} id - Agent ID
     * @param {PhenoML.agent.JsonPatch} request
     * @param {AgentClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link PhenoML.agent.BadRequestError}
     * @throws {@link PhenoML.agent.UnauthorizedError}
     * @throws {@link PhenoML.agent.ForbiddenError}
     * @throws {@link PhenoML.agent.NotFoundError}
     * @throws {@link PhenoML.agent.InternalServerError}
     *
     * @example
     *     await client.agent.patch("id", [{
     *             op: "replace",
     *             path: "/name",
     *             value: "Updated Agent Name"
     *         }, {
     *             op: "add",
     *             path: "/tags/-",
     *             value: "new-tag"
     *         }, {
     *             op: "remove",
     *             path: "/description"
     *         }])
     */
    public patch(
        id: string,
        request: PhenoML.agent.JsonPatch,
        requestOptions?: AgentClient.RequestOptions,
    ): core.HttpResponsePromise<PhenoML.agent.AgentResponse> {
        return core.HttpResponsePromise.fromPromise(this.__patch(id, request, requestOptions));
    }

    private async __patch(
        id: string,
        request: PhenoML.agent.JsonPatch,
        requestOptions?: AgentClient.RequestOptions,
    ): Promise<core.WithRawResponse<PhenoML.agent.AgentResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PhenoMLEnvironment.Default,
                `agent/${core.url.encodePathParam(id)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json+patch",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as PhenoML.agent.AgentResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new PhenoML.agent.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new PhenoML.agent.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new PhenoML.agent.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new PhenoML.agent.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new PhenoML.agent.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.PhenoMLError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PATCH", "/agent/{id}");
    }

    /**
     * Send a message to an agent and receive a JSON response.
     *
     * @param {PhenoML.agent.AgentChatRequest} request
     * @param {AgentClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link PhenoML.agent.BadRequestError}
     * @throws {@link PhenoML.agent.UnauthorizedError}
     * @throws {@link PhenoML.agent.ForbiddenError}
     * @throws {@link PhenoML.agent.InternalServerError}
     *
     * @example
     *     await client.agent.chat({
     *         "X-Phenoml-On-Behalf-Of": "Patient/550e8400-e29b-41d4-a716-446655440000",
     *         "X-Phenoml-Fhir-Provider": "550e8400-e29b-41d4-a716-446655440000:eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c...",
     *         message: "What is the patient's current condition?",
     *         agent_id: "agent-123"
     *     })
     */
    public chat(
        request: PhenoML.agent.AgentChatRequest,
        requestOptions?: AgentClient.RequestOptions,
    ): core.HttpResponsePromise<PhenoML.agent.AgentChatResponse> {
        return core.HttpResponsePromise.fromPromise(this.__chat(request, requestOptions));
    }

    private async __chat(
        request: PhenoML.agent.AgentChatRequest,
        requestOptions?: AgentClient.RequestOptions,
    ): Promise<core.WithRawResponse<PhenoML.agent.AgentChatResponse>> {
        const {
            "X-Phenoml-On-Behalf-Of": phenomlOnBehalfOf,
            "X-Phenoml-Fhir-Provider": phenomlFhirProvider,
            ..._body
        } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Phenoml-On-Behalf-Of": phenomlOnBehalfOf,
                "X-Phenoml-Fhir-Provider": phenomlFhirProvider,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PhenoMLEnvironment.Default,
                "agent/chat",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as PhenoML.agent.AgentChatResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new PhenoML.agent.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new PhenoML.agent.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new PhenoML.agent.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new PhenoML.agent.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.PhenoMLError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/agent/chat");
    }

    /**
     * Send a message to an agent and receive the response as a Server-Sent Events
     * (SSE) stream. Events include message_start, content_delta, tool_use,
     * tool_result, message_end, and error.
     */
    public streamChat(
        request: PhenoML.agent.AgentStreamChatRequest,
        requestOptions?: AgentClient.RequestOptions,
    ): core.HttpResponsePromise<core.Stream<PhenoML.agent.AgentChatStreamEvent>> {
        return core.HttpResponsePromise.fromPromise(this.__streamChat(request, requestOptions));
    }

    private async __streamChat(
        request: PhenoML.agent.AgentStreamChatRequest,
        requestOptions?: AgentClient.RequestOptions,
    ): Promise<core.WithRawResponse<core.Stream<PhenoML.agent.AgentChatStreamEvent>>> {
        const {
            "X-Phenoml-On-Behalf-Of": phenomlOnBehalfOf,
            "X-Phenoml-Fhir-Provider": phenomlFhirProvider,
            ..._body
        } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Phenoml-On-Behalf-Of": phenomlOnBehalfOf,
                "X-Phenoml-Fhir-Provider": phenomlFhirProvider,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)<ReadableStream>({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PhenoMLEnvironment.Default,
                "agent/stream-chat",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            responseType: "sse",
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: new core.Stream({
                    stream: _response.body,
                    parse: (data) => data as any,
                    signal: requestOptions?.abortSignal,
                    eventShape: {
                        type: "sse",
                    },
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new PhenoML.agent.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new PhenoML.agent.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new PhenoML.agent.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new PhenoML.agent.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.PhenoMLError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/agent/stream-chat");
    }

    /**
     * Retrieves a list of chat messages for a given chat session
     *
     * @param {PhenoML.agent.AgentGetChatMessagesRequest} request
     * @param {AgentClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link PhenoML.agent.UnauthorizedError}
     * @throws {@link PhenoML.agent.ForbiddenError}
     * @throws {@link PhenoML.agent.InternalServerError}
     *
     * @example
     *     await client.agent.getChatMessages({
     *         chat_session_id: "chat_session_id",
     *         num_messages: 1,
     *         role: "user",
     *         order: "asc"
     *     })
     */
    public getChatMessages(
        request: PhenoML.agent.AgentGetChatMessagesRequest,
        requestOptions?: AgentClient.RequestOptions,
    ): core.HttpResponsePromise<PhenoML.agent.AgentGetChatMessagesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getChatMessages(request, requestOptions));
    }

    private async __getChatMessages(
        request: PhenoML.agent.AgentGetChatMessagesRequest,
        requestOptions?: AgentClient.RequestOptions,
    ): Promise<core.WithRawResponse<PhenoML.agent.AgentGetChatMessagesResponse>> {
        const { chat_session_id: chatSessionId, num_messages: numMessages, role, order } = request;
        const _queryParams: Record<string, unknown> = {
            chat_session_id: chatSessionId,
            num_messages: numMessages,
            role: role != null ? role : undefined,
            order: order != null ? order : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PhenoMLEnvironment.Default,
                "agent/chat/messages",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as PhenoML.agent.AgentGetChatMessagesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new PhenoML.agent.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new PhenoML.agent.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new PhenoML.agent.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.PhenoMLError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/agent/chat/messages");
    }
}
