// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as phenoml from "../../../index.js";
import { ChatClient } from "../resources/chat/client/Client.js";
import { PromptsClient } from "../resources/prompts/client/Client.js";

export declare namespace AgentClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class AgentClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<AgentClient.Options>;
    protected _chat: ChatClient | undefined;
    protected _prompts: PromptsClient | undefined;

    constructor(options: AgentClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get chat(): ChatClient {
        return (this._chat ??= new ChatClient(this._options));
    }

    public get prompts(): PromptsClient {
        return (this._prompts ??= new PromptsClient(this._options));
    }

    /**
     * Creates a new PhenoAgent with specified configuration
     *
     * @param {phenoml.agent.AgentCreateRequest} request
     * @param {AgentClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link phenoml.agent.BadRequestError}
     * @throws {@link phenoml.agent.UnauthorizedError}
     * @throws {@link phenoml.agent.ForbiddenError}
     * @throws {@link phenoml.agent.InternalServerError}
     *
     * @example
     *     await client.agent.create({
     *         name: "Medical Assistant",
     *         description: "An AI assistant for medical information processing",
     *         prompts: ["prompt_123"],
     *         tags: ["medical", "fhir"],
     *         provider: "7002b0b4-8d09-445a-bf65-0fafdaf26c35"
     *     })
     */
    public create(
        request: phenoml.agent.AgentCreateRequest,
        requestOptions?: AgentClient.RequestOptions,
    ): core.HttpResponsePromise<phenoml.agent.AgentResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: phenoml.agent.AgentCreateRequest,
        requestOptions?: AgentClient.RequestOptions,
    ): Promise<core.WithRawResponse<phenoml.agent.AgentResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.phenomlEnvironment.Default,
                "agent/create",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as phenoml.agent.AgentResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new phenoml.agent.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new phenoml.agent.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new phenoml.agent.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new phenoml.agent.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.phenomlError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/agent/create");
    }

    /**
     * Retrieves a list of PhenoAgents belonging to the authenticated user
     *
     * @param {phenoml.agent.ListRequest} request
     * @param {AgentClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link phenoml.agent.UnauthorizedError}
     * @throws {@link phenoml.agent.ForbiddenError}
     * @throws {@link phenoml.agent.InternalServerError}
     *
     * @example
     *     await client.agent.list({
     *         tags: "tags"
     *     })
     */
    public list(
        request: phenoml.agent.ListRequest = {},
        requestOptions?: AgentClient.RequestOptions,
    ): core.HttpResponsePromise<phenoml.agent.ListResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: phenoml.agent.ListRequest = {},
        requestOptions?: AgentClient.RequestOptions,
    ): Promise<core.WithRawResponse<phenoml.agent.ListResponse>> {
        const { tags } = request;
        const _queryParams: Record<string, unknown> = {
            tags,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.phenomlEnvironment.Default,
                "agent/list",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as phenoml.agent.ListResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new phenoml.agent.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new phenoml.agent.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new phenoml.agent.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.phenomlError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/agent/list");
    }

    /**
     * Retrieves a specific agent by its ID
     *
     * @param {string} id - Agent ID
     * @param {AgentClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link phenoml.agent.UnauthorizedError}
     * @throws {@link phenoml.agent.ForbiddenError}
     * @throws {@link phenoml.agent.NotFoundError}
     * @throws {@link phenoml.agent.InternalServerError}
     *
     * @example
     *     await client.agent.get("id")
     */
    public get(
        id: string,
        requestOptions?: AgentClient.RequestOptions,
    ): core.HttpResponsePromise<phenoml.agent.AgentResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(id, requestOptions));
    }

    private async __get(
        id: string,
        requestOptions?: AgentClient.RequestOptions,
    ): Promise<core.WithRawResponse<phenoml.agent.AgentResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.phenomlEnvironment.Default,
                `agent/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as phenoml.agent.AgentResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new phenoml.agent.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new phenoml.agent.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new phenoml.agent.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new phenoml.agent.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.phenomlError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/agent/{id}");
    }

    /**
     * Updates an existing agent's configuration
     *
     * @param {string} id - Agent ID
     * @param {phenoml.agent.AgentCreateRequest} request
     * @param {AgentClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link phenoml.agent.BadRequestError}
     * @throws {@link phenoml.agent.UnauthorizedError}
     * @throws {@link phenoml.agent.ForbiddenError}
     * @throws {@link phenoml.agent.NotFoundError}
     * @throws {@link phenoml.agent.InternalServerError}
     *
     * @example
     *     await client.agent.update("id", {
     *         name: "Medical Assistant",
     *         description: "Updated description for the medical assistant",
     *         prompts: ["prompt_123"],
     *         tags: ["medical", "fhir", "updated"],
     *         provider: "7002b0b4-8d09-445a-bf65-0fafdaf26c35"
     *     })
     */
    public update(
        id: string,
        request: phenoml.agent.AgentCreateRequest,
        requestOptions?: AgentClient.RequestOptions,
    ): core.HttpResponsePromise<phenoml.agent.AgentResponse> {
        return core.HttpResponsePromise.fromPromise(this.__update(id, request, requestOptions));
    }

    private async __update(
        id: string,
        request: phenoml.agent.AgentCreateRequest,
        requestOptions?: AgentClient.RequestOptions,
    ): Promise<core.WithRawResponse<phenoml.agent.AgentResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.phenomlEnvironment.Default,
                `agent/${core.url.encodePathParam(id)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as phenoml.agent.AgentResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new phenoml.agent.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new phenoml.agent.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new phenoml.agent.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new phenoml.agent.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new phenoml.agent.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.phenomlError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PUT", "/agent/{id}");
    }

    /**
     * Deletes an existing agent
     *
     * @param {string} id - Agent ID
     * @param {AgentClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link phenoml.agent.UnauthorizedError}
     * @throws {@link phenoml.agent.ForbiddenError}
     * @throws {@link phenoml.agent.NotFoundError}
     * @throws {@link phenoml.agent.InternalServerError}
     *
     * @example
     *     await client.agent.delete("id")
     */
    public delete(
        id: string,
        requestOptions?: AgentClient.RequestOptions,
    ): core.HttpResponsePromise<phenoml.agent.DeleteResponse> {
        return core.HttpResponsePromise.fromPromise(this.__delete(id, requestOptions));
    }

    private async __delete(
        id: string,
        requestOptions?: AgentClient.RequestOptions,
    ): Promise<core.WithRawResponse<phenoml.agent.DeleteResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.phenomlEnvironment.Default,
                `agent/${core.url.encodePathParam(id)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as phenoml.agent.DeleteResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new phenoml.agent.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new phenoml.agent.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new phenoml.agent.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new phenoml.agent.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.phenomlError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/agent/{id}");
    }

    /**
     * Patches an existing agent's configuration
     *
     * @param {string} id - Agent ID
     * @param {phenoml.agent.JsonPatch} request
     * @param {AgentClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link phenoml.agent.BadRequestError}
     * @throws {@link phenoml.agent.UnauthorizedError}
     * @throws {@link phenoml.agent.ForbiddenError}
     * @throws {@link phenoml.agent.NotFoundError}
     * @throws {@link phenoml.agent.InternalServerError}
     *
     * @example
     *     await client.agent.patch("id", [{
     *             op: "replace",
     *             path: "/description",
     *             value: "patched description"
     *         }, {
     *             op: "add",
     *             path: "/tags/-",
     *             value: "updated"
     *         }])
     */
    public patch(
        id: string,
        request: phenoml.agent.JsonPatch,
        requestOptions?: AgentClient.RequestOptions,
    ): core.HttpResponsePromise<phenoml.agent.AgentResponse> {
        return core.HttpResponsePromise.fromPromise(this.__patch(id, request, requestOptions));
    }

    private async __patch(
        id: string,
        request: phenoml.agent.JsonPatch,
        requestOptions?: AgentClient.RequestOptions,
    ): Promise<core.WithRawResponse<phenoml.agent.AgentResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.phenomlEnvironment.Default,
                `agent/${core.url.encodePathParam(id)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json+patch",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as phenoml.agent.AgentResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new phenoml.agent.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new phenoml.agent.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new phenoml.agent.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new phenoml.agent.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new phenoml.agent.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.phenomlError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PATCH", "/agent/{id}");
    }
}
