// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as phenoml from "../../../../../index.js";

export declare namespace ProfilesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Manage custom FHIR profiles (StructureDefinitions) as instance-level FHIR artifacts.
 */
export class ProfilesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ProfilesClient.Options>;

    constructor(options: ProfilesClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns metadata for every custom (uploaded) FHIR profile on this
     * instance, across all implementation guides. The full StructureDefinition
     * JSON is omitted from each entry; fetch a single profile by id to retrieve it.
     *
     * The `url` query parameter filters by canonical URL. The canonical URL is the
     * stable key other platform features use to reference a profile (FHIR's
     * `meta.profile`, `baseDefinition`), since StructureDefinition ids are only
     * unique within a package. A non-matching filter returns an empty list, not a 404.
     *
     * @param {phenoml.profiles.ListRequest} request
     * @param {ProfilesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link phenoml.profiles.UnauthorizedError}
     * @throws {@link phenoml.profiles.ForbiddenError}
     * @throws {@link phenoml.profiles.InternalServerError}
     *
     * @example
     *     await client.profiles.profiles.list({
     *         url: "http://phenoml.com/fhir/StructureDefinition/custom-patient|1.0.0"
     *     })
     */
    public list(
        request: phenoml.profiles.ListRequest = {},
        requestOptions?: ProfilesClient.RequestOptions,
    ): core.HttpResponsePromise<phenoml.profiles.ProfileListResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: phenoml.profiles.ListRequest = {},
        requestOptions?: ProfilesClient.RequestOptions,
    ): Promise<core.WithRawResponse<phenoml.profiles.ProfileListResponse>> {
        const { url } = request;
        const _queryParams: Record<string, unknown> = {
            url,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.phenomlEnvironment.Default,
                "fhir/profiles",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as phenoml.profiles.ProfileListResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new phenoml.profiles.UnauthorizedError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 403:
                    throw new phenoml.profiles.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new phenoml.profiles.InternalServerError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.phenomlError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/fhir/profiles");
    }

    /**
     * Creates a custom profile from a FHIR StructureDefinition supplied as a JSON
     * object. All metadata (version, resource type, id, url) is derived from the
     * StructureDefinition; the lowercase StructureDefinition id becomes the
     * profile's lookup key. Code system configuration is auto-extracted from the
     * snapshot. Optionally group the profile under a named implementation guide.
     *
     * @param {phenoml.profiles.ProfileUploadRequest} request
     * @param {ProfilesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link phenoml.profiles.BadRequestError}
     * @throws {@link phenoml.profiles.UnauthorizedError}
     * @throws {@link phenoml.profiles.ForbiddenError}
     * @throws {@link phenoml.profiles.InternalServerError}
     *
     * @example
     *     await client.profiles.profiles.create({
     *         structure_definition: {
     *             "key": "value"
     *         }
     *     })
     */
    public create(
        request: phenoml.profiles.ProfileUploadRequest,
        requestOptions?: ProfilesClient.RequestOptions,
    ): core.HttpResponsePromise<phenoml.profiles.ProfileSummary> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: phenoml.profiles.ProfileUploadRequest,
        requestOptions?: ProfilesClient.RequestOptions,
    ): Promise<core.WithRawResponse<phenoml.profiles.ProfileSummary>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.phenomlEnvironment.Default,
                "fhir/profiles",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as phenoml.profiles.ProfileSummary, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new phenoml.profiles.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new phenoml.profiles.UnauthorizedError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 403:
                    throw new phenoml.profiles.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new phenoml.profiles.InternalServerError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.phenomlError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/fhir/profiles");
    }

    /**
     * Returns a single custom profile by id, including its full StructureDefinition JSON.
     *
     * @param {string} id - The lowercase StructureDefinition id of the custom profile.
     * @param {ProfilesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link phenoml.profiles.BadRequestError}
     * @throws {@link phenoml.profiles.UnauthorizedError}
     * @throws {@link phenoml.profiles.ForbiddenError}
     * @throws {@link phenoml.profiles.NotFoundError}
     * @throws {@link phenoml.profiles.InternalServerError}
     *
     * @example
     *     await client.profiles.profiles.get("custom-patient")
     */
    public get(
        id: string,
        requestOptions?: ProfilesClient.RequestOptions,
    ): core.HttpResponsePromise<phenoml.profiles.ProfileGetResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(id, requestOptions));
    }

    private async __get(
        id: string,
        requestOptions?: ProfilesClient.RequestOptions,
    ): Promise<core.WithRawResponse<phenoml.profiles.ProfileGetResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.phenomlEnvironment.Default,
                `fhir/profiles/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as phenoml.profiles.ProfileGetResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new phenoml.profiles.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new phenoml.profiles.UnauthorizedError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 403:
                    throw new phenoml.profiles.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new phenoml.profiles.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new phenoml.profiles.InternalServerError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.phenomlError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/fhir/profiles/{id}");
    }

    /**
     * Replaces an existing custom profile with a new StructureDefinition. The
     * `id` path parameter is authoritative: if the StructureDefinition includes
     * an `id` it must match the path parameter, and if it omits one the path
     * parameter is used. The FHIR resource type of the profile cannot change.
     * Code system configuration is
     * re-derived from the new StructureDefinition. When `implementation_guide` is
     * omitted, the profile keeps its existing implementation guide. The instance
     * stores a single version per canonical URL, so this replaces it in place.
     *
     * @param {string} id - The lowercase StructureDefinition id of the custom profile.
     * @param {phenoml.profiles.ProfileUploadRequest} request
     * @param {ProfilesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link phenoml.profiles.BadRequestError}
     * @throws {@link phenoml.profiles.UnauthorizedError}
     * @throws {@link phenoml.profiles.ForbiddenError}
     * @throws {@link phenoml.profiles.NotFoundError}
     * @throws {@link phenoml.profiles.InternalServerError}
     *
     * @example
     *     await client.profiles.profiles.update("custom-patient", {
     *         structure_definition: {
     *             "key": "value"
     *         }
     *     })
     */
    public update(
        id: string,
        request: phenoml.profiles.ProfileUploadRequest,
        requestOptions?: ProfilesClient.RequestOptions,
    ): core.HttpResponsePromise<phenoml.profiles.ProfileSummary> {
        return core.HttpResponsePromise.fromPromise(this.__update(id, request, requestOptions));
    }

    private async __update(
        id: string,
        request: phenoml.profiles.ProfileUploadRequest,
        requestOptions?: ProfilesClient.RequestOptions,
    ): Promise<core.WithRawResponse<phenoml.profiles.ProfileSummary>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.phenomlEnvironment.Default,
                `fhir/profiles/${core.url.encodePathParam(id)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as phenoml.profiles.ProfileSummary, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new phenoml.profiles.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new phenoml.profiles.UnauthorizedError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 403:
                    throw new phenoml.profiles.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new phenoml.profiles.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new phenoml.profiles.InternalServerError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.phenomlError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PUT", "/fhir/profiles/{id}");
    }

    /**
     * Permanently deletes a custom profile by id.
     *
     * @param {string} id - The lowercase StructureDefinition id of the custom profile.
     * @param {ProfilesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link phenoml.profiles.BadRequestError}
     * @throws {@link phenoml.profiles.UnauthorizedError}
     * @throws {@link phenoml.profiles.ForbiddenError}
     * @throws {@link phenoml.profiles.NotFoundError}
     * @throws {@link phenoml.profiles.InternalServerError}
     *
     * @example
     *     await client.profiles.profiles.delete("custom-patient")
     */
    public delete(id: string, requestOptions?: ProfilesClient.RequestOptions): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__delete(id, requestOptions));
    }

    private async __delete(
        id: string,
        requestOptions?: ProfilesClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.phenomlEnvironment.Default,
                `fhir/profiles/${core.url.encodePathParam(id)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new phenoml.profiles.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new phenoml.profiles.UnauthorizedError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 403:
                    throw new phenoml.profiles.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new phenoml.profiles.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new phenoml.profiles.InternalServerError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.phenomlError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/fhir/profiles/{id}");
    }
}
