// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as PhenoML from "../../../index.js";

export declare namespace Lang2FhirClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class Lang2FhirClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<Lang2FhirClient.Options>;

    constructor(options: Lang2FhirClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Converts natural language text into a structured FHIR resource
     *
     * @param {PhenoML.lang2Fhir.CreateRequest} request
     * @param {Lang2FhirClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link PhenoML.lang2Fhir.BadRequestError}
     * @throws {@link PhenoML.lang2Fhir.UnauthorizedError}
     * @throws {@link PhenoML.lang2Fhir.InternalServerError}
     *
     * @example
     *     await client.lang2Fhir.create({
     *         version: "R4",
     *         resource: "auto",
     *         text: "Patient has severe asthma with acute exacerbation"
     *     })
     */
    public create(
        request: PhenoML.lang2Fhir.CreateRequest,
        requestOptions?: Lang2FhirClient.RequestOptions,
    ): core.HttpResponsePromise<PhenoML.lang2Fhir.FhirResource> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: PhenoML.lang2Fhir.CreateRequest,
        requestOptions?: Lang2FhirClient.RequestOptions,
    ): Promise<core.WithRawResponse<PhenoML.lang2Fhir.FhirResource>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PhenoMLEnvironment.Default,
                "lang2fhir/create",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as PhenoML.lang2Fhir.FhirResource, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new PhenoML.lang2Fhir.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new PhenoML.lang2Fhir.UnauthorizedError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 500:
                    throw new PhenoML.lang2Fhir.InternalServerError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PhenoMLError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/lang2fhir/create");
    }

    /**
     * Analyzes natural language text and extracts multiple FHIR resources, returning them as a transaction Bundle.
     * Automatically detects Patient, Condition, MedicationRequest, Observation, and other resource types from the text.
     * Resources are linked with proper references (e.g., Conditions reference the Patient).
     *
     * @param {PhenoML.lang2Fhir.CreateMultiRequest} request
     * @param {Lang2FhirClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link PhenoML.lang2Fhir.BadRequestError}
     * @throws {@link PhenoML.lang2Fhir.UnauthorizedError}
     * @throws {@link PhenoML.lang2Fhir.InternalServerError}
     *
     * @example
     *     await client.lang2Fhir.createMulti({
     *         text: "John Smith, 45-year-old male, diagnosed with Type 2 Diabetes. Prescribed Metformin 500mg twice daily."
     *     })
     */
    public createMulti(
        request: PhenoML.lang2Fhir.CreateMultiRequest,
        requestOptions?: Lang2FhirClient.RequestOptions,
    ): core.HttpResponsePromise<PhenoML.lang2Fhir.CreateMultiResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createMulti(request, requestOptions));
    }

    private async __createMulti(
        request: PhenoML.lang2Fhir.CreateMultiRequest,
        requestOptions?: Lang2FhirClient.RequestOptions,
    ): Promise<core.WithRawResponse<PhenoML.lang2Fhir.CreateMultiResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PhenoMLEnvironment.Default,
                "lang2fhir/create/multi",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as PhenoML.lang2Fhir.CreateMultiResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new PhenoML.lang2Fhir.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new PhenoML.lang2Fhir.UnauthorizedError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 500:
                    throw new PhenoML.lang2Fhir.InternalServerError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PhenoMLError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/lang2fhir/create/multi");
    }

    /**
     * Converts natural language text into FHIR search parameters.
     * Automatically identifies the appropriate FHIR resource type and generates valid search query parameters.
     *
     * Supported resource types include: AllergyIntolerance, Appointment, CarePlan, CareTeam, Condition,
     * Coverage, Device, DiagnosticReport, DocumentReference, Encounter, Goal, Immunization, Location,
     * Medication, MedicationRequest, Observation, Organization, Patient, PlanDefinition, Practitioner,
     * PractitionerRole, Procedure, Provenance, Questionnaire, QuestionnaireResponse, RelatedPerson,
     * Schedule, ServiceRequest, Slot, and Specimen.
     *
     * @param {PhenoML.lang2Fhir.SearchRequest} request
     * @param {Lang2FhirClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link PhenoML.lang2Fhir.BadRequestError}
     * @throws {@link PhenoML.lang2Fhir.UnauthorizedError}
     * @throws {@link PhenoML.lang2Fhir.FailedDependencyError}
     * @throws {@link PhenoML.lang2Fhir.InternalServerError}
     *
     * @example
     *     await client.lang2Fhir.search({
     *         text: "Appointments between March 2-9, 2025"
     *     })
     */
    public search(
        request: PhenoML.lang2Fhir.SearchRequest,
        requestOptions?: Lang2FhirClient.RequestOptions,
    ): core.HttpResponsePromise<PhenoML.lang2Fhir.SearchResponse> {
        return core.HttpResponsePromise.fromPromise(this.__search(request, requestOptions));
    }

    private async __search(
        request: PhenoML.lang2Fhir.SearchRequest,
        requestOptions?: Lang2FhirClient.RequestOptions,
    ): Promise<core.WithRawResponse<PhenoML.lang2Fhir.SearchResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PhenoMLEnvironment.Default,
                "lang2fhir/search",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as PhenoML.lang2Fhir.SearchResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new PhenoML.lang2Fhir.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new PhenoML.lang2Fhir.UnauthorizedError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 424:
                    throw new PhenoML.lang2Fhir.FailedDependencyError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 500:
                    throw new PhenoML.lang2Fhir.InternalServerError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PhenoMLError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/lang2fhir/search");
    }

    /**
     * Upload a custom FHIR StructureDefinition profile for use with the lang2fhir service.
     *
     * All metadata is derived from the StructureDefinition JSON itself. The lowercase `id` field
     * from the StructureDefinition is used as the profile's unique identifier and lookup key.
     * To use the uploaded profile with `/lang2fhir/create`, pass this id as the `resource` parameter.
     *
     * Uploads will be rejected if:
     * - A built-in US Core or R4 base profile already exists with the same id
     * - A custom profile with the same id has already been uploaded
     * - A custom profile with the same url has already been uploaded
     *
     * @param {PhenoML.lang2Fhir.ProfileUploadRequest} request
     * @param {Lang2FhirClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link PhenoML.lang2Fhir.BadRequestError}
     * @throws {@link PhenoML.lang2Fhir.UnauthorizedError}
     * @throws {@link PhenoML.lang2Fhir.ForbiddenError}
     * @throws {@link PhenoML.lang2Fhir.InternalServerError}
     *
     * @example
     *     await client.lang2Fhir.uploadProfile({
     *         profile: "(base64 encoded FHIR StructureDefinition JSON)"
     *     })
     */
    public uploadProfile(
        request: PhenoML.lang2Fhir.ProfileUploadRequest,
        requestOptions?: Lang2FhirClient.RequestOptions,
    ): core.HttpResponsePromise<PhenoML.lang2Fhir.Lang2FhirUploadProfileResponse> {
        return core.HttpResponsePromise.fromPromise(this.__uploadProfile(request, requestOptions));
    }

    private async __uploadProfile(
        request: PhenoML.lang2Fhir.ProfileUploadRequest,
        requestOptions?: Lang2FhirClient.RequestOptions,
    ): Promise<core.WithRawResponse<PhenoML.lang2Fhir.Lang2FhirUploadProfileResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PhenoMLEnvironment.Default,
                "lang2fhir/profile/upload",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as PhenoML.lang2Fhir.Lang2FhirUploadProfileResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new PhenoML.lang2Fhir.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new PhenoML.lang2Fhir.UnauthorizedError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 403:
                    throw new PhenoML.lang2Fhir.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new PhenoML.lang2Fhir.InternalServerError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PhenoMLError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/lang2fhir/profile/upload");
    }

    /**
     * Extracts text from a document (PDF or image) and converts it into a structured FHIR resource
     *
     * @param {PhenoML.lang2Fhir.DocumentRequest} request
     * @param {Lang2FhirClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link PhenoML.lang2Fhir.BadRequestError}
     * @throws {@link PhenoML.lang2Fhir.UnauthorizedError}
     * @throws {@link PhenoML.lang2Fhir.InternalServerError}
     *
     * @example
     *     await client.lang2Fhir.document({
     *         version: "R4",
     *         resource: "questionnaire",
     *         content: "content"
     *     })
     */
    public document(
        request: PhenoML.lang2Fhir.DocumentRequest,
        requestOptions?: Lang2FhirClient.RequestOptions,
    ): core.HttpResponsePromise<PhenoML.lang2Fhir.FhirResource> {
        return core.HttpResponsePromise.fromPromise(this.__document(request, requestOptions));
    }

    private async __document(
        request: PhenoML.lang2Fhir.DocumentRequest,
        requestOptions?: Lang2FhirClient.RequestOptions,
    ): Promise<core.WithRawResponse<PhenoML.lang2Fhir.FhirResource>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PhenoMLEnvironment.Default,
                "lang2fhir/document",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as PhenoML.lang2Fhir.FhirResource, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new PhenoML.lang2Fhir.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new PhenoML.lang2Fhir.UnauthorizedError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 500:
                    throw new PhenoML.lang2Fhir.InternalServerError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PhenoMLError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/lang2fhir/document");
    }

    /**
     * Extracts text from a document (PDF or image) and converts it into multiple FHIR resources,
     * returned as a transaction Bundle. Combines document text extraction with multi-resource detection.
     * Automatically detects Patient, Condition, MedicationRequest, Observation, and other resource types.
     * Resources are linked with proper references (e.g., Conditions reference the Patient).
     *
     * @param {PhenoML.lang2Fhir.DocumentMultiRequest} request
     * @param {Lang2FhirClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link PhenoML.lang2Fhir.BadRequestError}
     * @throws {@link PhenoML.lang2Fhir.UnauthorizedError}
     * @throws {@link PhenoML.lang2Fhir.UnprocessableEntityError}
     * @throws {@link PhenoML.lang2Fhir.InternalServerError}
     *
     * @example
     *     await client.lang2Fhir.extractMultipleFhirResourcesFromADocument({
     *         version: "R4",
     *         content: "content"
     *     })
     */
    public extractMultipleFhirResourcesFromADocument(
        request: PhenoML.lang2Fhir.DocumentMultiRequest,
        requestOptions?: Lang2FhirClient.RequestOptions,
    ): core.HttpResponsePromise<PhenoML.lang2Fhir.CreateMultiResponse> {
        return core.HttpResponsePromise.fromPromise(
            this.__extractMultipleFhirResourcesFromADocument(request, requestOptions),
        );
    }

    private async __extractMultipleFhirResourcesFromADocument(
        request: PhenoML.lang2Fhir.DocumentMultiRequest,
        requestOptions?: Lang2FhirClient.RequestOptions,
    ): Promise<core.WithRawResponse<PhenoML.lang2Fhir.CreateMultiResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PhenoMLEnvironment.Default,
                "lang2fhir/document/multi",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as PhenoML.lang2Fhir.CreateMultiResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new PhenoML.lang2Fhir.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new PhenoML.lang2Fhir.UnauthorizedError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 422:
                    throw new PhenoML.lang2Fhir.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 500:
                    throw new PhenoML.lang2Fhir.InternalServerError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PhenoMLError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/lang2fhir/document/multi");
    }
}
