// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as phenoml from "../../../../../index.js";

export declare namespace VersionsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class VersionsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<VersionsClient.Options>;

    constructor(options: VersionsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns retained versions for a custom profile.
     *
     * @param {string} id - The lowercase StructureDefinition id of the custom profile.
     * @param {VersionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link phenoml.profiles.BadRequestError}
     * @throws {@link phenoml.profiles.UnauthorizedError}
     * @throws {@link phenoml.profiles.ForbiddenError}
     * @throws {@link phenoml.profiles.NotFoundError}
     * @throws {@link phenoml.profiles.InternalServerError}
     *
     * @example
     *     await client.profiles.versions.list("custom-patient")
     */
    public list(
        id: string,
        requestOptions?: VersionsClient.RequestOptions,
    ): core.HttpResponsePromise<phenoml.profiles.ProfileVersionListResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(id, requestOptions));
    }

    private async __list(
        id: string,
        requestOptions?: VersionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<phenoml.profiles.ProfileVersionListResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.phenomlEnvironment.Default,
                `fhir/profiles/${core.url.encodePathParam(id)}/versions`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as phenoml.profiles.ProfileVersionListResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new phenoml.profiles.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new phenoml.profiles.UnauthorizedError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 403:
                    throw new phenoml.profiles.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new phenoml.profiles.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new phenoml.profiles.InternalServerError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.phenomlError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/fhir/profiles/{id}/versions");
    }

    /**
     * Adds an immutable StructureDefinition version to a custom profile. If
     * the profile does not exist, it is created from the submitted version.
     * The StructureDefinition must include a non-empty `version`; its
     * canonical URL and resource type must match the profile when one already
     * exists. If it includes an `id`, that id must match the path parameter;
     * if it omits `id`, the path parameter is used. Profiles created through
     * this endpoint are grouped under `custom`. Posting the profile's current
     * StructureDefinition unchanged retains it as a version.
     * Version strings may contain letters, numbers, and the punctuation
     * characters `.`, `_`, `~`, `+`, and `-`; they cannot be exactly `.` or
     * `..`. Each profile can retain up to 250 versions; delete old
     * versions before adding more.
     *
     * @param {string} id - The lowercase StructureDefinition id of the custom profile.
     * @param {phenoml.profiles.ProfileVersionCreateRequest} request
     * @param {VersionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link phenoml.profiles.BadRequestError}
     * @throws {@link phenoml.profiles.UnauthorizedError}
     * @throws {@link phenoml.profiles.ForbiddenError}
     * @throws {@link phenoml.profiles.NotFoundError}
     * @throws {@link phenoml.profiles.ConflictError}
     * @throws {@link phenoml.profiles.InternalServerError}
     *
     * @example
     *     await client.profiles.versions.create("custom-patient", {
     *         "key": "value"
     *     })
     */
    public create(
        id: string,
        request: phenoml.profiles.ProfileVersionCreateRequest,
        requestOptions?: VersionsClient.RequestOptions,
    ): core.HttpResponsePromise<phenoml.profiles.ProfileSummary> {
        return core.HttpResponsePromise.fromPromise(this.__create(id, request, requestOptions));
    }

    private async __create(
        id: string,
        request: phenoml.profiles.ProfileVersionCreateRequest,
        requestOptions?: VersionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<phenoml.profiles.ProfileSummary>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.phenomlEnvironment.Default,
                `fhir/profiles/${core.url.encodePathParam(id)}/versions`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as phenoml.profiles.ProfileSummary, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new phenoml.profiles.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new phenoml.profiles.UnauthorizedError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 403:
                    throw new phenoml.profiles.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new phenoml.profiles.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 409:
                    throw new phenoml.profiles.ConflictError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new phenoml.profiles.InternalServerError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.phenomlError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/fhir/profiles/{id}/versions");
    }

    /**
     * Returns metadata and the full StructureDefinition for one retained
     * version. The returned StructureDefinition's id is the profile id. The
     * path version is the authored `StructureDefinition.version` value.
     *
     * @param {string} id - The lowercase StructureDefinition id of the custom profile.
     * @param {string} version - The authored StructureDefinition.version. It may contain letters, numbers, and the punctuation characters `.`, `_`, `~`, `+`, and `-`; it cannot be exactly `.` or `..`.
     * @param {VersionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link phenoml.profiles.BadRequestError}
     * @throws {@link phenoml.profiles.UnauthorizedError}
     * @throws {@link phenoml.profiles.ForbiddenError}
     * @throws {@link phenoml.profiles.NotFoundError}
     * @throws {@link phenoml.profiles.InternalServerError}
     *
     * @example
     *     await client.profiles.versions.get("custom-patient", "2.0.0")
     */
    public get(
        id: string,
        version: string,
        requestOptions?: VersionsClient.RequestOptions,
    ): core.HttpResponsePromise<phenoml.profiles.ProfileGetResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(id, version, requestOptions));
    }

    private async __get(
        id: string,
        version: string,
        requestOptions?: VersionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<phenoml.profiles.ProfileGetResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.phenomlEnvironment.Default,
                `fhir/profiles/${core.url.encodePathParam(id)}/versions/${core.url.encodePathParam(version)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as phenoml.profiles.ProfileGetResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new phenoml.profiles.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new phenoml.profiles.UnauthorizedError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 403:
                    throw new phenoml.profiles.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new phenoml.profiles.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new phenoml.profiles.InternalServerError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.phenomlError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/fhir/profiles/{id}/versions/{version}",
        );
    }

    /**
     * Deletes one retained version from a custom profile. The path
     * version is the authored `StructureDefinition.version` value.
     *
     * @param {string} id - The lowercase StructureDefinition id of the custom profile.
     * @param {string} version - The authored StructureDefinition.version. It may contain letters, numbers, and the punctuation characters `.`, `_`, `~`, `+`, and `-`; it cannot be exactly `.` or `..`.
     * @param {VersionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link phenoml.profiles.BadRequestError}
     * @throws {@link phenoml.profiles.UnauthorizedError}
     * @throws {@link phenoml.profiles.ForbiddenError}
     * @throws {@link phenoml.profiles.NotFoundError}
     * @throws {@link phenoml.profiles.InternalServerError}
     *
     * @example
     *     await client.profiles.versions.delete("custom-patient", "2.0.0")
     */
    public delete(
        id: string,
        version: string,
        requestOptions?: VersionsClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__delete(id, version, requestOptions));
    }

    private async __delete(
        id: string,
        version: string,
        requestOptions?: VersionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.phenomlEnvironment.Default,
                `fhir/profiles/${core.url.encodePathParam(id)}/versions/${core.url.encodePathParam(version)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new phenoml.profiles.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new phenoml.profiles.UnauthorizedError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 403:
                    throw new phenoml.profiles.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new phenoml.profiles.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new phenoml.profiles.InternalServerError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.phenomlError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/fhir/profiles/{id}/versions/{version}",
        );
    }
}
