// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as phenoml from "../../../../../index.js";

export declare namespace AuthClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class AuthClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<AuthClient.Options>;

    constructor(options: AuthClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * OAuth 2.0 client credentials token endpoint (RFC 6749 §4.4).
     * Accepts client_id and client_secret in the request body (JSON or
     * form-encoded) or via Basic Auth header (RFC 6749 §2.3.1), and
     * returns an access token with expiration information.
     *
     * @param {phenoml.authtoken.ClientCredentialsRequest} request
     * @param {AuthClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link phenoml.authtoken.BadRequestError}
     * @throws {@link phenoml.authtoken.UnauthorizedError}
     * @throws {@link phenoml.authtoken.InternalServerError}
     *
     * @example
     *     await client.authtoken.auth.getToken()
     */
    public getToken(
        request: phenoml.authtoken.ClientCredentialsRequest = {},
        requestOptions?: AuthClient.RequestOptions,
    ): core.HttpResponsePromise<phenoml.authtoken.TokenResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getToken(request, requestOptions));
    }

    private async __getToken(
        request: phenoml.authtoken.ClientCredentialsRequest = {},
        requestOptions?: AuthClient.RequestOptions,
    ): Promise<core.WithRawResponse<phenoml.authtoken.TokenResponse>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.phenomlEnvironment.Default,
                "v2/auth/token",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as phenoml.authtoken.TokenResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new phenoml.authtoken.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new phenoml.authtoken.UnauthorizedError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 500:
                    throw new phenoml.authtoken.InternalServerError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.phenomlError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v2/auth/token");
    }
}
