// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as phenoml from "../../../../../index.js";

export declare namespace CodesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Extract and search codes within a code system.
 */
export class CodesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<CodesClient.Options>;

    constructor(options: CodesClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Converts natural language text into structured medical codes.
     *
     * Usage of CPT is subject to AMA requirements: see PhenoML Terms of Service.
     *
     * @param {phenoml.construe.ExtractRequest} request
     * @param {CodesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link phenoml.construe.BadRequestError}
     * @throws {@link phenoml.construe.UnauthorizedError}
     * @throws {@link phenoml.construe.NotFoundError}
     * @throws {@link phenoml.construe.InternalServerError}
     * @throws {@link phenoml.construe.ServiceUnavailableError}
     * @throws {@link phenoml.construe.GatewayTimeoutError}
     *
     * @example
     *     await client.construe.codes.extract({
     *         text: "Patient is a 14-year-old female, previously healthy, who is here for evaluation of abnormal renal ultrasound with atrophic right kidney.",
     *         system: {
     *             name: "ICD-10-CM",
     *             version: "2025"
     *         }
     *     })
     *
     * @example
     *     await client.construe.codes.extract({
     *         text: "45-year-old male presents with chest pain radiating to left arm, shortness of breath, and diaphoresis. ECG shows ST elevation in leads II, III, and aVF.",
     *         system: {
     *             name: "SNOMED_CT_US_LITE",
     *             version: "20240901"
     *         },
     *         config: {
     *             chunking_method: "sentences",
     *             validation_method: "simple",
     *             include_rationale: true,
     *             include_citations: true
     *         }
     *     })
     *
     * @example
     *     await client.construe.codes.extract({
     *         text: "Start Metformin 500mg twice daily for type 2 diabetes. Continue Lisinopril 10mg daily for hypertension. Add Atorvastatin 20mg at bedtime.",
     *         system: {
     *             name: "RXNORM",
     *             version: "11042024"
     *         },
     *         config: {
     *             validation_method: "medication_search",
     *             include_rationale: true
     *         }
     *     })
     *
     * @example
     *     await client.construe.codes.extract({
     *         text: "Patient diagnosed with Type 2 diabetes mellitus with diabetic chronic kidney disease, stage 3.",
     *         system: {
     *             name: "ICD-10-CM",
     *             version: "2025"
     *         },
     *         config: {
     *             validation_method: "simple",
     *             include_ancestors: true
     *         }
     *     })
     *
     * @example
     *     await client.construe.codes.extract({
     *         text: "5-year-old male with seizures, severe intellectual disability, microcephaly, and hypotonia.",
     *         system: {
     *             name: "HPO",
     *             version: "2025"
     *         },
     *         config: {
     *             chunking_method: "fasthpocr",
     *             validation_method: "none",
     *             include_rationale: false
     *         }
     *     })
     */
    public extract(
        request: phenoml.construe.ExtractRequest,
        requestOptions?: CodesClient.RequestOptions,
    ): core.HttpResponsePromise<phenoml.construe.ExtractCodesResult> {
        return core.HttpResponsePromise.fromPromise(this.__extract(request, requestOptions));
    }

    private async __extract(
        request: phenoml.construe.ExtractRequest,
        requestOptions?: CodesClient.RequestOptions,
    ): Promise<core.WithRawResponse<phenoml.construe.ExtractCodesResult>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.phenomlEnvironment.Default,
                "construe/extract",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as phenoml.construe.ExtractCodesResult, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new phenoml.construe.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new phenoml.construe.UnauthorizedError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 404:
                    throw new phenoml.construe.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new phenoml.construe.InternalServerError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 503:
                    throw new phenoml.construe.ServiceUnavailableError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 504:
                    throw new phenoml.construe.GatewayTimeoutError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.phenomlError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/construe/extract");
    }

    /**
     * Looks up a specific code in the terminology server and returns its details.
     *
     * Usage of CPT is subject to AMA requirements: see PhenoML Terms of Service.
     *
     * @param {string} codesystem - Code system name
     * @param {string} codeID - The code identifier. ICD-10-CM codes are stored without their
     *                          cosmetic dot (use "E1165", not "E11.65").
     * @param {phenoml.construe.LookupRequest} request
     * @param {CodesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link phenoml.construe.BadRequestError}
     * @throws {@link phenoml.construe.UnauthorizedError}
     * @throws {@link phenoml.construe.NotFoundError}
     * @throws {@link phenoml.construe.InternalServerError}
     *
     * @example
     *     await client.construe.codes.lookup("ICD-10-CM", "E1165", {
     *         version: "version"
     *     })
     */
    public lookup(
        codesystem: string,
        codeID: string,
        request: phenoml.construe.LookupRequest = {},
        requestOptions?: CodesClient.RequestOptions,
    ): core.HttpResponsePromise<phenoml.construe.GetCodeResponse> {
        return core.HttpResponsePromise.fromPromise(this.__lookup(codesystem, codeID, request, requestOptions));
    }

    private async __lookup(
        codesystem: string,
        codeID: string,
        request: phenoml.construe.LookupRequest = {},
        requestOptions?: CodesClient.RequestOptions,
    ): Promise<core.WithRawResponse<phenoml.construe.GetCodeResponse>> {
        const { version } = request;
        const _queryParams: Record<string, unknown> = {
            version,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.phenomlEnvironment.Default,
                `construe/codes/${core.url.encodePathParam(codesystem)}/${core.url.encodePathParam(codeID)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as phenoml.construe.GetCodeResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new phenoml.construe.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new phenoml.construe.UnauthorizedError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 404:
                    throw new phenoml.construe.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new phenoml.construe.InternalServerError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.phenomlError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/construe/codes/{codesystem}/{codeID}",
        );
    }

    /**
     * Performs semantic similarity search using vector embeddings.
     *
     * **Availability**: This endpoint works for both **built-in and custom** code systems.
     *
     * **When to use**: Best for natural language queries where you want to find conceptually
     * related codes, even when different terminology is used. The search understands meaning,
     * not just keywords.
     *
     * **Examples**:
     * - Query "trouble breathing at night" finds codes like "Sleep apnea", "Orthopnea",
     *   "Nocturnal dyspnea" — semantically related but no exact keyword matches
     * - Query "heart problems" finds "Myocardial infarction", "Cardiac arrest", "Arrhythmia"
     *
     * **Trade-offs**: Slower than text search (requires embedding generation), but finds
     * conceptually similar results that keyword search would miss.
     *
     * See also: `/search/text` for faster keyword-based lookup with typo tolerance.
     *
     * Usage of CPT is subject to AMA requirements: see PhenoML Terms of Service.
     *
     * @param {string} codesystem - Code system name
     * @param {phenoml.construe.SearchSemanticRequest} request
     * @param {CodesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link phenoml.construe.BadRequestError}
     * @throws {@link phenoml.construe.UnauthorizedError}
     * @throws {@link phenoml.construe.NotFoundError}
     * @throws {@link phenoml.construe.InternalServerError}
     *
     * @example
     *     await client.construe.codes.searchSemantic("ICD-10-CM", {
     *         text: "patient has trouble breathing at night and wakes up gasping",
     *         version: "version",
     *         limit: 1
     *     })
     */
    public searchSemantic(
        codesystem: string,
        request: phenoml.construe.SearchSemanticRequest,
        requestOptions?: CodesClient.RequestOptions,
    ): core.HttpResponsePromise<phenoml.construe.SemanticSearchResponse> {
        return core.HttpResponsePromise.fromPromise(this.__searchSemantic(codesystem, request, requestOptions));
    }

    private async __searchSemantic(
        codesystem: string,
        request: phenoml.construe.SearchSemanticRequest,
        requestOptions?: CodesClient.RequestOptions,
    ): Promise<core.WithRawResponse<phenoml.construe.SemanticSearchResponse>> {
        const { text, version, limit } = request;
        const _queryParams: Record<string, unknown> = {
            text,
            version,
            limit,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.phenomlEnvironment.Default,
                `construe/codes/${core.url.encodePathParam(codesystem)}/search/semantic`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as phenoml.construe.SemanticSearchResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new phenoml.construe.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new phenoml.construe.UnauthorizedError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 404:
                    throw new phenoml.construe.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new phenoml.construe.InternalServerError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.phenomlError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/construe/codes/{codesystem}/search/semantic",
        );
    }

    /**
     * Performs fast full-text search over code IDs and descriptions.
     *
     * **Availability**: This endpoint is only available for **built-in code systems**.
     * Custom code systems uploaded via `/construe/upload` are not indexed for full-text search
     * and will return empty results. Use `/search/semantic` to search custom code systems.
     *
     * **When to use**: Best for autocomplete UIs, code lookup, or when users know part of
     * the code ID or specific keywords. Fast response times suitable for typeahead interfaces.
     *
     * **Features**:
     * - Substring matching on code IDs (e.g., "11.65" finds "E11.65")
     * - Typo tolerance on descriptions (not on code IDs)
     * - Fast response times (~10-50ms)
     *
     * **Examples**:
     * - Query "E11" finds all codes starting with E11 (diabetes codes)
     * - Query "diabtes" (typo) still finds "diabetes" codes
     *
     * **Trade-offs**: Faster than semantic search, but only matches keywords/substrings.
     * Won't find conceptually related codes with different terminology.
     *
     * See also: `/search/semantic` for finding conceptually similar codes.
     *
     * Usage of CPT is subject to AMA requirements: see PhenoML Terms of Service.
     *
     * @param {string} codesystem - Code system name
     * @param {phenoml.construe.SearchTextRequest} request
     * @param {CodesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link phenoml.construe.BadRequestError}
     * @throws {@link phenoml.construe.UnauthorizedError}
     * @throws {@link phenoml.construe.NotFoundError}
     * @throws {@link phenoml.construe.InternalServerError}
     * @throws {@link phenoml.construe.NotImplementedError}
     *
     * @example
     *     await client.construe.codes.searchText("ICD-10-CM", {
     *         q: "E11.65",
     *         version: "version",
     *         limit: 1
     *     })
     */
    public searchText(
        codesystem: string,
        request: phenoml.construe.SearchTextRequest,
        requestOptions?: CodesClient.RequestOptions,
    ): core.HttpResponsePromise<phenoml.construe.TextSearchResponse> {
        return core.HttpResponsePromise.fromPromise(this.__searchText(codesystem, request, requestOptions));
    }

    private async __searchText(
        codesystem: string,
        request: phenoml.construe.SearchTextRequest,
        requestOptions?: CodesClient.RequestOptions,
    ): Promise<core.WithRawResponse<phenoml.construe.TextSearchResponse>> {
        const { q, version, limit } = request;
        const _queryParams: Record<string, unknown> = {
            q,
            version,
            limit,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.phenomlEnvironment.Default,
                `construe/codes/${core.url.encodePathParam(codesystem)}/search/text`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as phenoml.construe.TextSearchResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new phenoml.construe.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new phenoml.construe.UnauthorizedError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 404:
                    throw new phenoml.construe.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new phenoml.construe.InternalServerError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                case 501:
                    throw new phenoml.construe.NotImplementedError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.phenomlError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/construe/codes/{codesystem}/search/text",
        );
    }
}
