// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as phenoml from "../../../../../index.js";
import { ToolsClient } from "../resources/tools/client/Client.js";

export declare namespace McpServerClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class McpServerClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<McpServerClient.Options>;
    protected _tools: ToolsClient | undefined;

    constructor(options: McpServerClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get tools(): ToolsClient {
        return (this._tools ??= new ToolsClient(this._options));
    }

    /**
     * Creates a new MCP server
     *
     * @param {phenoml.tools.McpServerCreateRequest} request
     * @param {McpServerClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link phenoml.tools.BadRequestError}
     * @throws {@link phenoml.tools.UnauthorizedError}
     * @throws {@link phenoml.tools.ForbiddenError}
     * @throws {@link phenoml.tools.InternalServerError}
     *
     * @example
     *     await client.tools.mcpServer.create({
     *         name: "My MCP Server",
     *         mcp_server_url: "https://mcp.example.com"
     *     })
     */
    public create(
        request: phenoml.tools.McpServerCreateRequest,
        requestOptions?: McpServerClient.RequestOptions,
    ): core.HttpResponsePromise<phenoml.tools.McpServerResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: phenoml.tools.McpServerCreateRequest,
        requestOptions?: McpServerClient.RequestOptions,
    ): Promise<core.WithRawResponse<phenoml.tools.McpServerResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.phenomlEnvironment.Default,
                "tools/mcp-server/create",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as phenoml.tools.McpServerResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new phenoml.tools.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new phenoml.tools.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new phenoml.tools.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new phenoml.tools.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.phenomlError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/tools/mcp-server/create");
    }

    /**
     * Lists all MCP servers for a specific user
     *
     * @param {McpServerClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link phenoml.tools.UnauthorizedError}
     * @throws {@link phenoml.tools.ForbiddenError}
     * @throws {@link phenoml.tools.InternalServerError}
     *
     * @example
     *     await client.tools.mcpServer.list()
     */
    public list(
        requestOptions?: McpServerClient.RequestOptions,
    ): core.HttpResponsePromise<phenoml.tools.McpServerResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(requestOptions));
    }

    private async __list(
        requestOptions?: McpServerClient.RequestOptions,
    ): Promise<core.WithRawResponse<phenoml.tools.McpServerResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.phenomlEnvironment.Default,
                "tools/mcp-server/list",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as phenoml.tools.McpServerResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new phenoml.tools.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new phenoml.tools.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new phenoml.tools.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.phenomlError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/tools/mcp-server/list");
    }

    /**
     * Gets a MCP server by ID
     *
     * @param {phenoml.tools.GetMcpServerRequest} request
     * @param {McpServerClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link phenoml.tools.UnauthorizedError}
     * @throws {@link phenoml.tools.ForbiddenError}
     * @throws {@link phenoml.tools.InternalServerError}
     *
     * @example
     *     await client.tools.mcpServer.get({
     *         mcp_server_id: "mcp_server_id"
     *     })
     */
    public get(
        request: phenoml.tools.GetMcpServerRequest,
        requestOptions?: McpServerClient.RequestOptions,
    ): core.HttpResponsePromise<phenoml.tools.McpServerResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: phenoml.tools.GetMcpServerRequest,
        requestOptions?: McpServerClient.RequestOptions,
    ): Promise<core.WithRawResponse<phenoml.tools.McpServerResponse>> {
        const { mcp_server_id: mcpServerId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.phenomlEnvironment.Default,
                `tools/mcp-server/${core.url.encodePathParam(mcpServerId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as phenoml.tools.McpServerResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new phenoml.tools.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new phenoml.tools.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new phenoml.tools.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.phenomlError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/tools/mcp-server/{mcp_server_id}",
        );
    }

    /**
     * Deletes a MCP server by ID
     *
     * @param {phenoml.tools.DeleteMcpServerRequest} request
     * @param {McpServerClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link phenoml.tools.UnauthorizedError}
     * @throws {@link phenoml.tools.ForbiddenError}
     * @throws {@link phenoml.tools.InternalServerError}
     *
     * @example
     *     await client.tools.mcpServer.delete({
     *         mcp_server_id: "mcp_server_id"
     *     })
     */
    public delete(
        request: phenoml.tools.DeleteMcpServerRequest,
        requestOptions?: McpServerClient.RequestOptions,
    ): core.HttpResponsePromise<phenoml.tools.McpServerResponse> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: phenoml.tools.DeleteMcpServerRequest,
        requestOptions?: McpServerClient.RequestOptions,
    ): Promise<core.WithRawResponse<phenoml.tools.McpServerResponse>> {
        const { mcp_server_id: mcpServerId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.phenomlEnvironment.Default,
                `tools/mcp-server/${core.url.encodePathParam(mcpServerId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as phenoml.tools.McpServerResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new phenoml.tools.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new phenoml.tools.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new phenoml.tools.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.phenomlError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/tools/mcp-server/{mcp_server_id}",
        );
    }
}
